html {
    // typography
    font-size: 16px;
}

body {
    // box model
    box-sizing: border-box;
    max-width: 1920px;

    // typography
    font-family: $mainFont;

    // visual
    background-color: $white;
    box-shadow: 0 0 14px 0 $dark;
    overflow-x: hidden;

    @include atTabletsPortrait {
        // box model
        padding-left: 160px;
    }


    /////////////////
    //  Scrollbar  //
    /////////////////
    &::-webkit-scrollbar {
        // box model
        width: 8px;

        // visual
        background-color: $dark;

        &-thumb {
            // visual
            background-color: $gold;
        }
    }
}

*,
*::before,
*::after {
    // box model
    box-sizing: inherit;
    
    // typography
    font-family: inherit;
}

*::selection {
    // typography
    color: $white;

    // visual
    background-color: $blue;
    background-color: $gold;
}