html {
    // typography
    font-size: 16px;

    // visual
    overflow-x: hidden;

    @include atDesktopS {
        // typography
        font-size: 14px;
    }

    @include atDesktopL {
        // typography
        font-size: 16px;
    }
}

body {
    // box model
    box-sizing: border-box;
    max-width: 1920px;

    // typography
    font-family: $mainFont;

    // visual
    background-color: $black;
    // overflow-x: hidden;
    
    @include atTablet {
        // box model
        padding-left: 140px;
    }

    @include atDesktopL {
        // box model
        padding-left: 160px;
    }
    
    @include atFullHD {
        // visual
        box-shadow: 0 0 14px 0 $dark;
    }
}

/////////////////
//  Scrollbar  //
/////////////////
@include atDesktopM {
    body::-webkit-scrollbar {
        // box model
        width: 8px;

        // visual
        transition: all 0.8s;
    
        &-thumb {
            // visual
            background: linear-gradient(transparent, $gold, transparent);
            border-radius: 10px;
        }
        
        &-track {
            // visual
            background: transparent;
        }
    }
}

::-webkit-scrollbar-thumb:hover {
    background: $gold;
  }

*,
*::before,
*::after {
    // box model
    box-sizing: inherit;
    
    // typography
    font-family: inherit;
}

*::selection {
    // typography
    color: $white;

    // visual
    background-color: $blue;
    background-color: $gold;
}

// Decision of parallax bug on IE11
@include scrollIE11 {
    html{
        overflow: hidden;
        height: 100%;
    }

    body{
        overflow: auto;
        height: 100%;
    }
};
