html {
    // typography
    font-size: 16px;

    // visual
    overflow-x: hidden;

    @include atTabletsLandscape {
        // typography
        font-size: 14px;
    }
}

body {
    // box model
    box-sizing: border-box;
    max-width: 1920px;

    // typography
    font-family: $mainFont;

    // visual
    background-color: $black;
    overflow-x: hidden;
    
    @include atTabletsPortrait {
        // box model
        padding-left: 140px;
    }
    
    @include atFullHD {
        // visual
        background-color: $white;
        box-shadow: 0 0 14px 0 $dark;
    }
}

/////////////////
//  Scrollbar  //
/////////////////
@include atDesktop {
    body::-webkit-scrollbar {
        // box model
        width: 8px;
    
        // visual
        background-color: $dark;
    
        &-thumb {
            // visual
            background-color: $gold;
        }
    }
}

*,
*::before,
*::after {
    // box model
    box-sizing: inherit;
    
    // typography
    font-family: inherit;
}

*::selection {
    // typography
    color: $white;

    // visual
    background-color: $blue;
    background-color: $gold;
}

// Decision of parallax bug on IE11
@include scrollIE11 {
    html{
        overflow: hidden;
        height: 100%;
    }

    body{
        overflow: auto;
        height: 100%;
    }
};
