// colors
$dark: #222222;
$blue: #336699;
$red: #c31f38;
$white: #ffffff;
$gold: #d5a353;
$darkGold: #9d6911;
$black: #000000;
$yellow: #f9f1e6;

// fonts
$titleFont: "Roboto Condensed", sans-serif;
$mainFont: "Open Sans", sans-serif;