.fking-wrapper {
    // border: 1px solid red;
    margin-left: -25px;
    margin-right: -25px;
    margin-top: 100px;
    margin-bottom: -120px;

    @include atTabletsPortrait {
        margin-left: -60px;
        margin-right: -60px;
        margin-bottom: -170px;
    }

    @include atTabletsLandscape {
        margin-top: 200px;
        margin-bottom: -200px;
    }

    @include atDesktop {
        margin-top: 100px;
        margin-bottom: -200px;
    }

    @include atDesktopLarge {
        margin-left: -120px;
        margin-right: -120px;
        margin-top: 200px;
    }
}