@font-face {
    font-family: 'Bebas Neue';
    src: url('./fonts/BebasNeueRegular.woff2') format('woff2'),
        url('./fonts/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('./fonts/BebasNeueBook.woff2') format('woff2'),
        url('./fonts/BebasNeueBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}