doctype
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Oldboy Academy

    body
        header.page-header
            nav.main-nav
                .main-nav__logo
                    img(src="./img/logo-bw.svg", alt="Академия Олдбой логотип монохром")
                ul.main-nav__list
                    li.main-nav__item: a.main-nav__link(href="#about") Об Академии
                    li.main-nav__item: a.main-nav__link(href="#features") Преимущества
                    li.main-nav__item: a.main-nav__link(href="#courses") Наши Курсы
                    li.main-nav__item: a.main-nav__link(href="#team") Команда
                    li.main-nav__item: a.main-nav__link(href="#contacts") Контакты

                .main-nav__social
                    .masson
                        .masson__logo
                            img(src="./img/masson.png", alt="")
                        .masson__social
                            a(href="#").icon-vkontakte
                            a(href="#").icon-instagram
                        
                        a.masson__tag(href="#") #<em>OldboyAcademy</em>

            .menu-icon.menu-icon--inner: .menu-icon__middle

        section.hero.hero--inner.hero--course
            .hero__content
                header.hero-header
                    .hero-header__caption
                        p.hero-header__subtitle История Академии
                        h1.hero-header__title Академия барберинга Oldboy
                        p.hero-header__text С чего начиналась Академия и какие ее основные преимущества перед другими школами мастеров

        section.about.about--main
            .about__row
                .about__content.about__content--left
                    .about__logo
                        img(src="./img/logo.svg", alt="Академия Олдбой цветно логотип")

                .about__content.about__content--right
                    h2.about__title Академия барберинга OldBoy —&nbsp;место, где рождаются настоящие мужские парикмахеры
                    p.about__text Развитие культуры барберинга вернуло мужчинам ощущения и эмоции, которые испытывали джентельмены на старинных черно-белых фотографиях. Традиции лучших цирюлен прошлого века возвращаются, а истинные барберы активно возрождают культуру брадобрейства в аскетичной атмосфере исключительно мужской парикмахерской.
                    p.about__text Академия барберинга — школа, где вы станете настоящим барбером, профессионалом своего дела и ведущим специалистом барбершопа. Хотите узнать, как из бородатого мужчины сделать джентльмена? Тогда записывайтесь на наши курсы.

        section.hero.hero--inner.hero--about
            .hero__content
                header.hero-header
                    .hero-header__caption
                        p.hero-header__subtitle Профессия барбера — одна из старейших в мире
                        h1.hero-header__title Ремесло, которым можно заниматься всю жизнь, овладея им
                        p.hero-header__text В нашей академии OldBoy мастера преподают, мотивируют и вдохновлют своих учеников(начинающих и продвинутых) с целью возвести барберинга в России на высокий уровень. Студенты обучаются хорошо разбираться в новыейших технологиях индустрии и ее тендециях.

        section.about.about--gradient.about--white-border-before.about--white-border-after
            header.section-header
                p.section-header__subtitle Почему стоит обучаться именно в нашей Академии
                h2.section-header__title Преимущества обучения в Академии Oldboy

            .about__deco-logo
            .about__row
                .about__content.about__content--right
                    h2.about__title Оптимальный баланс практики и&nbsp;теории
                    h3.about__subtitle Опытные преподаватели с многолетним стажем
                    p Обучение парикмахеров, которое мы предлагаем в академии Барберинга OldBoy, возглавляет команда из наших тренеров. Все они с многолетним опытом работы в сфере барберинга. Их совместная работа четко отражает то, как они выстроили курсы для будущих мастеров.
                    h3.about__subtitle Ориентированность на работу с живыми моделями
                    p Все услуги, оказываемые нашими учениками, бесплатны. Так мы обеспечиваем возможность нашим студентам практиковаться на живых людях. Каждый студент контролируется своим уровнем квалификации, а, чтобы помочь в развитии мастерства, его наставник регулирует процесс. Таким образом, ни одна стрижка или бритье не покидает стены академии, без подтверждения качества со стороны опытных преподавателей с многолетним стажем.
                    h3.about__subtitle Психология общения и работа с клиентом
                    p Общение с клиентом в стенах барбершопа – особая наука, которой сложно овладеть. Мужчины приходят не просто подстричься, а за атмосферой. Встав с кресла мастера, каждый гость должен ощущать, что он провел время с удовольствием. Наши преподаватели рассказывают и делятся личным опытом о всех подводных камнях психологии общения и работы барбера.

 

        section.about.about--white-border-before.about--white-border-after 
            .about__row
                .about__content.about__content--left
                    h2.about__title Комфортные условия обучения в&nbsp;Академии
                    h3.about__subtitle Современное оборудование 
                    p Обучение происходит в полностью оснащенном зале, на современном оборудовании. Каждый ученик знакомится с необходимым инструментарием барбера, параллельно обучаясь владеть им на высшем уровне.
                    h3.about__subtitle Удобное расположение хостела для проживания
                    p На время обучения, есть возможность разместиться в комфортабельном хостеле, не далеко от академии. Студенты могут после обучения общаться и делиться опытом. А удобное расположение в центре города позволяет свободно перемещаться по центру столицы.
                    h3.about__subtitle Психология общения и работа с клиентом
                    p Общение с клиентом в стенах барбершопа – особая наука, которой сложно овладеть. Мужчины приходят не просто подстричься, а за атмосферой. Встав с кресла мастера, каждый гость должен ощущать, что он провел время с удовольствием. Наши преподаватели рассказывают и делятся личным опытом о всех подводных камнях психологии общения и работы барбера.


        section.about
            .about__row
                .about__content.about__content--right
                    h2.about__title Создание рабочих и творческих связей
                    h3.about__subtitle Создание команды професссионалов и их продвижение на барберинг арене
                    p Наш бренд узнаваем во всем мире. Студент входит в команду профессионалов, которая активно продвигается во всем мире. Это уникальная возможность показать свое мастерство на арене
                    h3.about__subtitle Особые условия и выгодные предложения партнеров
                    p Академия Барберинга OldBoy сотрудничает с множеством марок специализированной косметики. А также различные бонусы и предложения, которые часто поступают от компаний, распространяются на студентов академии. Наши партнеры всегда открыты и заинтересованы в продвижении новых лиц в мире барберинга.

        section.gallery
            .gallery__preview
            header.gallery__header
                h2.gallery__title Добро<br>пожаловать<br>в&nbsp;семью OldBoy
                p.gallery__subtitle Галерея работ наших<br>мастеров и учеников
                .gallery__more: a(href="").button Галерея Академии

        footer.page-footer.page-footer--inner

            .page-footer__wrapper
                .page-footer__social
                    a(href="").icon-vkontakte
                    a(href="").icon-instagram
                nav.page-footer__menu
                    ul
                        li: a(href="#") Курсы
                        li: a(href="#") Команда
                        li: a(href="#") Отзывы
                        li: a(href="#") Моделям
                        li: a(href="#") Сертификаты
                .page-footer__copy &copy;Академия Олдбой. 2017<br>Все права сохранены.

        section.popup
            .popup__window
                header.popup__header
                    .popup__close
                .popup__content
                    h2.popup__title Ваша заявка добавлена
                    .popup__text Благодарим Вас за обращение в нашу Академию. Наш менеджер свяжется с Вами в ближайшее время.
                    .popup__respect С уважением, <br> Команда OldBoy Академии
                    .popup__controls
                        a.popup__accept(href="#") Хорошо

        script(src="course.js")
        script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClofSbCu6EYSgaWdfCK5G1i_eUXgL4RCk&callback=initMap")
        script(src="map.js")