<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        <link href="https://fonts.googleapis.com/css?family=Lora:400,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,500,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
        link(rel="stylesheet", href="styles.css")

        title Oldboy Academy

    body
        header.page-header
            .page-header__logo
                img(src="./img/logo.svg", alt="Академия Олдбой логотип")

            nav.main-nav.main-nav--side-menu
                .main-nav__logo
                    img(src="./img/logo-bw.svg", alt="Академия Олдбой логотип монохром")
                ul
                    li: a(href="#") Курсы
                    li: a(href="#") Команда
                    li: a(href="#") Отзывы
                    li: a(href="#") Моделям
                    li: a(href="#") Сертификаты

                .main-nav__social
                    .masson
                        .masson__logo
                            img(src="./img/masson.png", alt="")
                        .masson__social
                            a(href="").icon-vkontakte
                            a(href="").icon-instagram
                        .masson__tag <em># </em>OldboyAcademy

            .page-header__phone.page-header__phone--inner
                a(href="tel:+79114567890") +7 911 456-78-90

            .menu-icon.menu-icon--inner: .menu-icon__middle

        section.hero.hero--course
            header.hero__header.hero__header--course
                p.hero__format Семинар
                h1.hero__title.hero__title--smaller Традиционное бритьё опасной бритвой и&nbsp;моделирование бороды

            .hero__content
                article.hero-course
                    .hero-course__main
                        header.hero-course__header
                            //- h3.hero-course__title Барбер с «нуля»
                            .hero-course__image: img(src="./img/courses/course1.jpg", alt="Академия Олдбой курс по барберингу")
                            .hero-course__ribbons
                                p.hero-course__ribbon.hero-course__ribbon--blue новый<br>курс
                                p.hero-course__ribbon.hero-course__ribbon--red специальная<br>цена

                        .hero-course__short-info
                            .hero-course__info-block
                                .hero-course__info-icon: img(src="./img/icons/calendar.svg", alt="")
                                .hero-course__info-text <strong>Старт:</strong> 1 ноября 2018.<br>Занятия проходят в будние дни
                            .hero-course__info-block
                                .hero-course__info-icon: img(src="./img/icons/time-biggest.svg", alt="")
                                .hero-course__info-text <strong>Длительность:</strong> 2&nbsp;месяца.<br>Январь–март 2018.
                            .hero-course__info-block
                                .hero-course__info-icon: img(src="./img/icons/level-noob.svg", alt="")
                                .hero-course__info-text <strong>Уровень навыков:</strong> <br>новичкам и опытным барберам.
                            .hero-course__info-block
                                .hero-course__info-icon: img(src="./img/icons/group.svg", alt="")
                                .hero-course__info-text <strong>Формат:</strong> <br>обучение в группе
                                
                            .hero-course__price
                                p.hero-course__price-title Стоимость обучения:
                                p.hero-course__price-value 32&nbsp;000&nbsp;₽

                    .hero-course__detailed
                        h2.hero-course__heading Два основополагающих понятия нашего семинара:
                        ol
                            li Традиционное влажное бритьё опасной бритвной
                            li Принцип золотого сечения при моделировании бороды

                        p Так же на семинаре, мы поговорим о последовательности действий при традиционном бритье опасной бритвой, нужном инструменте, нужных грумминг средствах.
                        p Подойдёт как для барберов только мечтающих освоить технику бритья опасной бритвой, так и тех, кто уже практикует его и хочет увидеть другой подход к бритью.

            aside.hero__aside
                .course-form
                    form.course-form__form(action="")
                        input.course-form__input(type="text" name="name" placeholder="Имя")
                        input.course-form__input(type="text" name="phone" placeholder="Телефон")
                        input.course-form__input(type="email" name="email" placeholder="Электронная почта")
                        input.course-form__button(type="submit" value="Записаться на курс")
                        .course-form__warning Заполняя данную форму<br> вы&nbsp;принимаете условия<br> <a href="#">политики конфиденциальности</a>

        section.about
            .about__logo
                img(src="./img/logo.svg", alt="Академия Олдбой цветно логотип")

            .about__content
                h2.about__title Академия барберинга OldBoy —&nbsp;место, где рождаются настоящие мужские парикмахеры
                p.about__text Развитие культуры барберинга вернуло мужчинам ощущения и эмоции, которые испытывали джентельмены на старинных черно-белых фотографиях. Традиции лучших цирюлен прошлого века возвращаются, а истинные барберы активно возрождают культуру брадобрейства в аскетичной атмосфере исключительно мужской парикмахерской.
                p.about__text Академия барберинга — школа, где вы станете настоящим барбером, профессионалом своего дела и ведущим специалистом барбершопа. Хотите узнать, как из бородатого мужчины сделать джентльмена? Тогда записывайтесь на наши курсы.

        section.about.about--yellow
            .about__content
                h2.about__title Что же делает Академию OldBoy особенной?
                p.about__text Наша Академия это не просто школа барберов. Это настоящая семья профессионалов мирового уровня готовых не только делиться своим опытом, но и открывать секреты своего мастерства, которые по праву открываются только самым достойным представителям этой благородной профессии.
                p.about__text Мы не учим тех, кто не готов разделить с нами наше видение и миссию барберов. Ведь если ты один из нас — ты член нашей семьи, в которой уважают и чтут традиции.
            .about__deco

        section.about-promos
            article.text-promo
                h3.text-promo__title Узнай больше<br>о наших курсов
                p.text-promo__text Вся информация о наших текущих курсах представлена в разделе «Курсы», там ты найдёшь информацию по всем интересующим тебя направлениям.
                .text-promo__more
                    a(href="#").button Курсы
                    
            article.text-promo
                h3.text-promo__title Есть вопросы?<br>Напиши нам
                p.text-promo__text Всё еще остались вопросы о том, как попасть в нашу Академию? Никаких проблем, мы готовы ответить на все твои вопросы, просто напиши нам или позвони.
                .text-promo__more
                    a(href="#").button Контакты

        section.about.about--yellow
            .about__content
                h2.about__title Преимущества обучения в Академии OldBoy
                p.about__text Преимущества которые мы предоставляем всем нашим студентам вне зависимости от программы обучения и первичной подготовки. Академия OldBoy — это не просто качественное, но и очень комфортное обучение, даже если вы не проживаете в месте проведения
            .about__features
                article.selling-feature
                    h3.selling-feature__title Сбалансированные<br>учебные курсы
                    p.selling-feature__text Теоретический и практический материал курсов оптимально дополняют друг друга
                    
                article.selling-feature
                    h3.selling-feature__title Комфортные условия<br>и оснащение
                    p.selling-feature__text Предоставляем нашим студентам лучшее профессинальное оборудование

                article.selling-feature
                    h3.selling-feature__title Помощь<br>в трудоустройстве
                    p.selling-feature__text Лучших выпускников мы трудоустроим в барбершопах наших партнёров

        section.horiz-banner
            header.horiz-banner__header
                p.horiz-banner__suptitle Академия Oldboy
                h2.horiz-banner__title С 31 октября<br>старт нового курса
                p.horiz-banner__subtitle Базовый курс для тех, кто хочет освоить профессию барбера
            .horiz-banner__more
                a(href="#").button Подробнее о курсе

        section.contacts.contacts--inner
            article.contacts-box.contacts-box--inner
                header.contacts-box__header
                    h2.contacts-box__title Контакты
                    p.contacts-box__text По всем интересующим вас вопросам просим вас связаться с нашим менеджером.

                .contacts-box__body
                    .contact
                        .contact__icon.icon-phone
                        .contact__name Телефон
                        .contact__value
                            a(href="tel:+79114567890") +7 911 456-78-90

                    .contact
                        .contact__icon.icon-mail-alt
                        .contact__name e-mail
                        .contact__value
                            a(href="mailto: academy@oldboy.com") academy@oldboy.com

                footer.contacts-box__footer
                    .contacts-box__logo
                        //- img(src="./img/logo.svg", alt="Академия Олдбой логотип")
                        img(src="./img/logo-bw.svg", alt="Академия Олдбой логотип")
        footer.page-footer.page-footer--inner

            .page-footer__wrapper
                .page-footer__social
                    a(href="").icon-vkontakte
                    a(href="").icon-instagram
                nav.page-footer__menu
                    ul
                        li: a(href="#") Курсы
                        li: a(href="#") Команда
                        li: a(href="#") Отзывы
                        li: a(href="#") Моделям
                        li: a(href="#") Сертификаты
                .page-footer__copy &copy;Академия Олдбой. 2017<br>Все права сохранены.

    script(src="menu.js")
    script(src="app.js")
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClofSbCu6EYSgaWdfCK5G1i_eUXgL4RCk&callback=initMap")
    script(src="map.js")