<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        <link href="https://fonts.googleapis.com/css?family=Lora:400,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,500,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
        link(rel="stylesheet", href="styles.css")

        title Oldboy Academy

    body
        header.page-header
            nav.main-nav
                .main-nav__logo
                    img(src="./img/logo-bw.svg", alt="Академия Олдбой логотип монохром")
                ul.main-nav__list
                    li.main-nav__item: a.main-nav__link(href="#about") Об Академии
                    li.main-nav__item: a.main-nav__link(href="#features") Преимущества
                    li.main-nav__item: a.main-nav__link(href="#courses") Наши Курсы
                    li.main-nav__item: a.main-nav__link(href="#team") Команда
                    li.main-nav__item: a.main-nav__link(href="#contacts") Контакты

                .main-nav__social
                    .masson
                        .masson__logo
                            img(src="./img/masson.png", alt="")
                        .masson__social
                            a(href="#").icon-vkontakte
                            a(href="#").icon-instagram
                        
                        a.masson__tag(href="#") #<em>OldboyAcademy</em>

            .menu-icon.menu-icon--inner: .menu-icon__middle

        section.hero.hero--course
            .hero__content
                header.hero-header.hero-header--block
                    .hero-header__caption
                        p.hero-header__subtitle Курсы Академии «Oldboy»
                        h1.hero-header__title Курс «Традиционное бритьё опасной бритвой и&nbsp;моделирование бороды»
                        .hero-header__badges

                    .hero-header__features
                        p.hero-header__subtitle.hero-header__subtitle--gold Описание структуры курса

                        .hero-course__short-info
                            .hero-course__info-column
                                .hero-course__info-block
                                    .hero-course__info-icon: img(src="./img/icons/calendar.svg", alt="")
                                    .hero-course__info-text <strong>Старт:</strong> 1 ноября 2018.<br>Занятия проходят в будние дни
                                .hero-course__info-block
                                    .hero-course__info-icon: img(src="./img/icons/time-biggest.svg", alt="")
                                    .hero-course__info-text <strong>Длительность:</strong> 2&nbsp;месяца.<br>Январь–март 2018.
                            .hero-course__info-column
                                .hero-course__info-block
                                    .hero-course__info-icon: img(src="./img/icons/level-noob.svg", alt="")
                                    .hero-course__info-text <strong>Уровень навыков:</strong> <br>новичкам и опытным барберам.
                                .hero-course__info-block
                                    .hero-course__info-icon: img(src="./img/icons/group.svg", alt="")
                                    .hero-course__info-text <strong>Формат:</strong> <br>обучение в группе
                                
                            .hero-course__price
                                p.hero-course__price-title Стоимость обучения:
                                p.hero-course__price-value 32&nbsp;000&nbsp;₽

            aside.hero__aside
                .hero-form
                    header.hero-form__header
                        p.hero-form__subtitle Заполни форму<br>для записи на курс
                        h2.hero-form__title «Традиционное бритьё опасной бритвой и&nbsp;моделирование бороды»
                    .hero-form__wrapper
                        form.hero-form__form(action="")
                            input.hero-form__input(type="text" name="Имя" placeholder="Имя")
                            input.hero-form__input(type="text" name="Телефон" placeholder="Телефон")
                            input.hero-form__input(type="email" name="Электронная почта" placeholder="Электронная почта")
                            input.hero-form__button(type="submit" value="Записаться на курс")
                    .hero-form__warning Заполняя данную форму<br> вы&nbsp;принимаете условия<br> <a href="#">политики конфиденциальности</a>

        section.about
            .about__row
                .about__content.about__content--left
                    h2.about__title В основу семинара положен симбиоз между двумя фундаментальными школами мужского грумминга:
                    .about__image
                        img(src="img/photos/cigar.jpg", alt="")

                .about__content.about__content--right
                    ul
                        li Английская: работа ножницами в технике точного среза.
                        li Американская: классическая работа машинками в техниках фейдинга и тейперинга.

                    p Главный акцент моего семинара: «Я не учу стрижкам, я учу техникам».
                    p Модные стрижки приходят и уходят, мой курс структурирует и систематизирует знания, что помогает вам, в первую очередь, повысить свой уровень и больше зарабатывать.
                    p Чтобы создать хорошую мужскую стрижку, надо понимать её структуру, создавать баланс и быть точным в её исполнении. Именно этому я обучу вас на ворк–шопе, объясню и покажу, как выполнять утончённые мужские стрижки, учитывая индивидуальные особенности клиента и костной структуры.

        section.about.about--yellow.about--white-border-before.about--white-border-after
            .about__deco-logo
            .about__row
                .about__content.about__content--left
                    h2.about__title Что будет на данном курсе:
                    ul
                        li История стрижек (лекция)
                        li Необходимый барберский инструмент (лекция)
                        li Основы работы ножницами и машинками: как правильно держать инструмент, техника движения руками
                        li Фейдинг vs тейперинг. Разница и виды
                        li Работа с клиентом. Как не задавая прямых вопросов, понять клиента и подобрать стрижку
                        li Сбалансированное и рациональное использование своего тела во время стрижки: за что отвечают верхняя и нижняя часть тела (лекция)
                        li Две демонстрационные модели
                        li Отработка на двух моделях, у каждого студента курса. Во время практической части мы будем отрабатывать технику, вам поставят руки и тело, разберем волнующие вопросы

                .about__content.about__content--right
                    .about__features
                        article.selling-feature
                            h3.selling-feature__title Сбалансированный<br>учебный курс
                            p.selling-feature__text Теоретический и практический материал курса оптимально дополняют друг друга
                            
                        article.selling-feature
                            h3.selling-feature__title Комфортные условия<br>и оснащение
                            p.selling-feature__text Предоставляем нашим студентам лучшее профессинальное оборудование

                        article.selling-feature
                            h3.selling-feature__title Помощь<br>в трудоустройстве
                            p.selling-feature__text Лучших выпускников мы трудоустроим в барбершопах наших партнёров

        section.about
            .about__row
                .about__content.about__content--right
                    h2.about__title Чему вы научитесь на курсе:
                    ul
                        li Построению квадратной формы в мужских стрижках
                        li Технике точного среза для создания точных стрижек при помощи ножниц
                        li Работе машинкой с помощью насадок и машинкой на расчёске
                        li Правильному использованию 3–х основных техник, 3–х основных форм и 3–х основных типов разделения на проборы. А главное, как использовать эти знания для достижения желаемого результата
                        li Выполнению мужских стрижек без использования филировочных ножниц (как убрать массу и сделать текстуру при помощи прямых ножниц и опасной бритвы)
                        li Технике выполнения тушевки, как одной из ключевых техник в исполнении мужской стрижки
                        li Разберем особенности и техническую сторону выполнения фейда
                        li Подбору стрижки, исходя из индивидуальных особенностей клиента, текстуры волос, костной структуры головы
                        li Сбалансированному использованию своего тела. Вы поймете, за что отвечает каждая часть тела во время стрижки
                        li Созданию культовых барберских стрижек при помощи прямых ножниц
                        li Персонализации мужской стрижки с помощью прямых ножниц и опасной бритвы

        section.about.about--yellow.about--white-border-before.about--white-border-after
            .about__deco
            .about__row
                .about__content.about__content--left
                    h2.about__title Кому подойдёт курс:
                    ul
                        li Барберам — новичкам и мастерам, которые мечтают освоить технику бритья опасной бритвой и то как выполняется оформление бороды.
                        li Опытным барберам — вы увидите другой подход к бритью, основанный на возрождении традиций бритья опасной бритвой. Разберем волнующие вопросы, с которыми вы сталкиваетесь в своей практике. Так же вы сможете систематизировать подход к моделированию бороды.

        section.about
            .fking-wrapper
                article.member
                    header.member__header
                        .member__photo: img(src="./img/members/barber1.png", alt="")
                        h3.member__name Юрий<br>Артюх
                    .member__content
                        p.member__about О мастере:
                        p.member__text Ведущий мастер сети Олдбой. Сертифицированный технолог бренда American Crew.
                        p.member__text Стрижет с 16 лет, последние три года мы даже не припомним, что бы у него были выходные. Обучаля у именитыхбарберов и готов делиться заниями.
                        p.member__text Большой любитель английской школы, сложных разделений и текстуры

        section.about.about--yellow.about--white-border-before
            .about__row
                .about__content.about__content--left
                    article.text-promo
                        h3.text-promo__title Узнай о преимуществах<br>обучения в Академии
                        p.text-promo__text Вся информация о наших текущих курсах представлена в разделе «Курсы», там ты найдёшь информацию по всем интересующим тебя направлениям.
                        .text-promo__more
                            a(href="#").button Курсы
                        
                    article.text-promo
                        h3.text-promo__title Есть вопросы?<br>Напиши нам
                        p.text-promo__text Всё еще остались вопросы о том, как попасть в нашу Академию? Никаких проблем, мы готовы ответить на все твои вопросы, просто напиши нам или позвони.
                        .text-promo__more
                            a(href="#").button Контакты

        section.contacts.contacts--inner
            article.contacts-box.contacts-box--inner
                header.contacts-box__header
                    h2.contacts-box__title Контакты
                    p.contacts-box__text По всем интересующим вас вопросам просим вас связаться с нашим менеджером.

                .contacts-box__body
                    .contact
                        .contact__icon.icon-phone
                        .contact__name Телефон
                        .contact__value
                            a(href="tel:+79114567890") +7 911 456-78-90

                    .contact
                        .contact__icon.icon-mail-alt
                        .contact__name e-mail
                        .contact__value
                            a(href="mailto: academy@oldboy.com") academy@oldboy.com

                footer.contacts-box__footer
                    .contacts-box__logo
                        //- img(src="./img/logo.svg", alt="Академия Олдбой логотип")
                        img(src="./img/logo-bw.svg", alt="Академия Олдбой логотип")

        footer.page-footer.page-footer--inner

            .page-footer__wrapper
                .page-footer__social
                    a(href="").icon-vkontakte
                    a(href="").icon-instagram
                nav.page-footer__menu
                    ul
                        li: a(href="#") Курсы
                        li: a(href="#") Команда
                        li: a(href="#") Отзывы
                        li: a(href="#") Моделям
                        li: a(href="#") Сертификаты
                .page-footer__copy &copy;Академия Олдбой. 2017<br>Все права сохранены.

        section.popup
            .popup__window
                header.popup__header
                    .popup__close
                .popup__content
                    h2.popup__title Ваша заявка добавлена
                    .popup__text Благодарим Вас за обращение в нашу Академию. Наш менеджер свяжется с Вами в ближайшее время.
                    .popup__respect С уважением, <br> Команда OldBoy Академии
                    .popup__controls
                        a.popup__accept(href="#") Хорошо

    script(src="course.js")
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClofSbCu6EYSgaWdfCK5G1i_eUXgL4RCk&callback=initMap")
    script(src="map.js")