<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        <link href="https://fonts.googleapis.com/css?family=Lora:400,700&amp;subset=cyrillic" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
        link(rel="stylesheet", href="styles.css")

        title Академия барберинга Oldboy

    body
        header.page-header
            nav.main-nav
                .main-nav__logo
                    a(href="#")
                        img(src="./img/logo-bw.svg", alt="Академия Олдбой логотип монохром")
                ul.main-nav__list
                    li.main-nav__item: a.main-nav__link(href="#about") Об Академии
                    li.main-nav__item: a.main-nav__link(href="#features") Преимущества
                    li.main-nav__item: a.main-nav__link(href="#courses") Наши Курсы
                    //- li.main-nav__item: a.main-nav__link(href="#team") Команда
                    li.main-nav__item: a.main-nav__link(href="models.html") Моделям
                    li.main-nav__item: a.main-nav__link(href="#contacts") Контакты

                .main-nav__social
                    .masson
                        .masson__logo
                            img(src="./img/masson.png", alt="")
                        //- .masson__social
                        //-     a(href="#").icon-vkontakte
                        //-     a(href="#").icon-instagram
                        
                        //- a.masson__tag(href="#") #<em>OldboyAcademy</em>

            .menu-icon: .menu-icon__middle

        section.hero
            .hero__logo
                a(href="#")
                    img(src="./img/logo.svg", alt="Академия Олдбой логотип")

            .hero__header
                header.hero-header
                    .hero-header__caption
                        p.hero-header__subtitle Научим как надо!
                        h1.hero-header__title Добро пожаловать <br>в&nbsp;Академию барберинга «Oldboy»
                        p.hero-header__text Место, где вы станете настоящим барбером, профессионалом своего дела и&nbsp;ведущим специалистом барбершопа
                    .hero-header__contacts
                        p.hero-header__address Москва<br>Старокирочный переулок,&nbsp;2
                        p.hero-header__phone
                            a(href="tel:+79261000266") тел.: <strong>+7 926 1000-266</strong>

            .hero__slider
                .slider#header-slider
                    .slider__slide
                        .hero-form
                            header.hero-form__header
                                h2.hero-form__title Курс «Традиционное бритье опасной бритвой и&nbsp;моделирование бороды»
                                p.hero-form__subtitle Уже 1 ноября спешите!
                            .hero-form__wrapper
                                form.hero-form__form(action="")
                                    .hero-form__input-group
                                        input.hero-form__input(type="text" name="name" placeholder="Имя")
                                    .hero-form__input-group
                                        input.hero-form__input(type="text" name="phone" placeholder="Телефон")
                                    .hero-form__input-group
                                        input.hero-form__input(type="email" name="email" placeholder="Электронная почта")
                                    input.hero-form__button(type="submit" value="Записаться")
                            .hero-form__warning Заполняя данную форму<br> вы&nbsp;принимаете условия<br> <a href="#">политики конфиденциальности</a>

                    .slider__slide
                        .hero-form
                            header.hero-form__header
                                h2.hero-form__title Стань моделью!
                                p.hero-form__subtitle Запись на бесплатную стрижку
                            .hero-form__wrapper
                                form.hero-form__form(action="")
                                    .hero-form__input-group
                                        input.hero-form__input(type="text" name="name" placeholder="Имя")
                                    .hero-form__input-group
                                        input.hero-form__input(type="text" name="phone" placeholder="Телефон")
                                    input.hero-form__button(type="submit" value="Записаться")
                            .hero-form__warning Заполняя данную форму<br> вы&nbsp;принимаете условия<br> <a href="http://">политики конфиденциальности</a>

        section.about.about--main#about
            .about__row
                .about__content.about__content--left
                    .about__logo
                        img(src="./img/logo.svg", alt="Академия Олдбой цветно логотип")

                .about__content.about__content--right
                    h2.about__title Академия барберинга OldBoy —&nbsp;место, где рождаются настоящие мужские парикмахеры
                    p.about__text Развитие культуры барберинга вернуло мужчинам ощущения и эмоции, которые испытывали джентельмены на старинных черно-белых фотографиях. Традиции лучших цирюлен прошлого века возвращаются, а истинные барберы активно возрождают культуру брадобрейства в аскетичной атмосфере исключительно мужской парикмахерской.
                    p.about__text Академия барберинга — школа, где вы станете настоящим барбером, профессионалом своего дела и ведущим специалистом барбершопа. Хотите узнать, как из бородатого мужчины сделать джентльмена? Тогда записывайтесь на наши курсы.

                    //- .about__more
                        a.button(href="#") Подробнее об Академии

        section.selling-features#features
            article.feature
                .feature__content
                    header.feature__header
                        h3.feature__title Оптимальный баланс практики и&nbsp;теории
                        .feature__icon
                            img(src="./img/features/target.svg", alt="")
                    .feature__body
                        p.feature__item Опытные преподаватели с&nbsp;многолетним стажем
                        p.feature__item Ориентированность на&nbsp;работу с&nbsp;живыми моделями
                        p.feature__item Психология общения и&nbsp;работа с&nbsp;клиентом
                .feature__more
                    a(href="#") Подробнее

            article.feature
                .feature__content
                    header.feature__header
                        h3.feature__title Комфортные условия обучения в&nbsp;Академии
                        .feature__icon
                            img(src="./img/features/university.svg", alt="")
                    .feature__body
                        p.feature__item Современное оборудование и&nbsp;оснащенный зал
                        p.feature__item Удобное расположение хостела для&nbsp;проживания
                .feature__more
                    a(href="#") Подробнее

            article.feature
                .feature__content
                    header.feature__header
                        h3.feature__title Создание рабочих и&nbsp;творческих связей
                        .feature__icon
                            img(src="./img/features/razor.svg", alt="")
                    .feature__body
                        p.feature__item Помощь в&nbsp;трудоустройстве, рекомендации и&nbsp;поддержка
                        p.feature__item Создание команды профессионалов и&nbsp;их продвижение на&nbsp;барберинг арене
                        p.feature__item Особые условия и&nbsp;выгодные предложения партнеров
                .feature__more
                    a(href="#") Подробнее

        section.gallery
            .gallery__preview
            header.gallery__header
                h2.gallery__title Добро<br>пожаловать<br>в&nbsp;семью OldBoy
                //- p.gallery__subtitle Галерея работ наших<br>мастеров и учеников
                //- .gallery__more: a(href="").button Галерея Академии

        section.courses#courses
            header.courses__header
                h2.courses__title Наши курсы
                p.courses__text Актуальные курсы, которые будут проходить в нашей Академии в&nbsp;ближайшее время

            .courses__content
                article.course
                    header.course__header
                        h3.course__title Барбер с «нуля»
                        .course__image: img(src="./img/courses/course1.jpg", alt="Академия Олдбой курс по барберингу")
                        .course__ribbons
                            p.course__ribbon.course__ribbon--blue новый <br>курс
                            p.course__ribbon.course__ribbon--red специальная <br>цена

                    .course__content
                        .course__info
                            .course__info-icon: img(src="./img/icons/calendar.svg", alt="")
                            .course__info-text Старт: 1 ноября <br>Будние дни
                        .course__info
                            .course__info-icon: img(src="./img/icons/time-biggest.svg", alt="")
                            .course__info-text Длительность: <br>2 месяца
                        .course__info
                            .course__info-icon: img(src="./img/icons/level-noob.svg", alt="")
                            .course__info-text Уровень навыков: <br>без опыта
                        .course__info
                            .course__info-icon: img(src="./img/icons/group.svg", alt="")
                            .course__info-text.course__info-text--last Формат: <br>обучение в группе
                            
                    .course__more
                        a.button.button--block(href="#") Подробнее о&nbsp;курсе

                article.course
                    header.course__header
                        h3.course__title Барбер «универсал»
                        .course__image: img(src="./img/courses/course2.jpg", alt="Академия Олдбой курс по барберингу")
                        .course__ribbons
                            //- p.course__ribbon.course__ribbon--blue новый <br>курс
                            //- p.course__ribbon.course__ribbon--red специальная <br>цена

                    .course__content
                        .course__info
                            .course__info-icon: img(src="./img/icons/calendar.svg", alt="")
                            .course__info-text Старт: 1 ноября <br>Будние дни
                        .course__info
                            .course__info-icon: img(src="./img/icons/time-average.svg", alt="")
                            .course__info-text Длительность: <br>1 месяц
                        .course__info
                            .course__info-icon: img(src="./img/icons/level-beginner.svg", alt="")
                            .course__info-text Уровень навыков: <br>минимум 6 месяцев
                        .course__info
                            .course__info-icon: img(src="./img/icons/group.svg", alt="")
                            .course__info-text.course__info-text--last Формат: <br>обучение в группе
                            
                    .course__more
                        a.button.button--block(href="#") Подробнее о&nbsp;курсе

                article.course
                    header.course__header
                        h3.course__title Шеф-барбер
                        .course__image: img(src="./img/courses/course3.jpg", alt="Академия Олдбой курс по барберингу")
                        .course__ribbons
                            //- p.course__ribbon.course__ribbon--blue новый <br>курс
                            p.course__ribbon.course__ribbon--red специальная <br>цена

                    .course__content
                        .course__info
                            .course__info-icon: img(src="./img/icons/calendar.svg", alt="")
                            .course__info-text Старт: 1 ноября <br>Будние дни
                        .course__info
                            .course__info-icon: img(src="./img/icons/time-small.svg", alt="")
                            .course__info-text Длительность: <br>2 недели
                        .course__info
                            .course__info-icon: img(src="./img/icons/level-medium.svg", alt="")
                            .course__info-text Уровень навыков: <br>опытный барбер
                        .course__info
                            .course__info-icon: img(src="./img/icons/single.svg", alt="")
                            .course__info-text.course__info-text--last Формат: <br>индивидуальное

                    .course__more
                        a.button.button--block(href="#") Подробнее о&nbsp;курсе

        //- section.team#team
            header.team__header
                h2.team__title Команда<br>Академии

            .team__content
                article.member.member--first
                    header.member__header
                        .member__photo: img(src="./img/members/barber1.png", alt="")
                        h3.member__name Юрий<br>Артюх
                    .member__content
                        p.member__about О мастере:
                        p.member__text Ведущий мастер сети Олдбой. Сертифицированный технолог бренда American Crew.
                        p.member__text Стрижет с 16 лет, последние три года мы даже не припомним, что бы у него были выходные. Обучаля у именитыхбарберов и готов делиться заниями.
                        p.member__text Большой любитель английской школы, сложных разделений и текстуры
                    //- .member__more
                        a.button(href="") Подробнее

                article.member
                    header.member__header
                        .member__photo: img(src="./img/members/barber2.png", alt="")
                        h3.member__name Виктор<br>Пилгрим
                    .member__content
                        p.member__about О мастере:
                        p.member__text Ведущий мастер сети Олдбой. Сертифицированный технолог бренда American Crew.
                        p.member__text Стрижет с 16 лет, последние три года мы даже не припомним, что бы у него были выходные. Обучаля у именитыхбарберов и готов делиться заниями.
                        p.member__text Большой любитель английской школы, сложных разделений и текстуры
                    //- .member__more
                        a.button(href="") Подробнее

                article.member
                    header.member__header
                        .member__photo: img(src="./img/members/barber3.png", alt="")
                        h3.member__name Просто<br>Олег
                    .member__content
                        p.member__about О мастере:
                        p.member__text Ведущий мастер сети Олдбой. Сертифицированный технолог бренда American Crew.
                        p.member__text Стрижет с 16 лет, последние три года мы даже не припомним, что бы у него были выходные. Обучаля у именитыхбарберов и готов делиться заниями.
                        p.member__text Большой любитель английской школы, сложных разделений и текстуры
                    //- .member__more
                        a.button(href="") Подробнее

            .team__navigation

            .team__about
                .team__about-sub О нашей команде:
                .team__text В команде академии работают профессионалы своего дела с многодетним опытомработы в идустрии барберинга, многие из которых обучались своему мастерству у именитых профессионалов в России и зарубежом.
                .team__more
                    a(href="#").button Подробнее о команде
        
        //- section.testimonials
            header.testimonials__header
                h2.testimonials__title Отзывы
                p.testimonials__subtitle Что говорят о нашей академии выпускники и эксперты

            .testimonials__content
                article.testimonial
                    .testimonial__photo
                        img(src="./img/testimonials/photo-1.jpg", alt="")
                    .testimonial__body
                        h3.testimonial__name Александр Тимофеев
                        p.testimonial__from Москва, барбершоп «Firma»
                        p.testimonial__text Достаточно долго искал достойную школу, для того чтобы ещё немного прокачаться. Наткнулся на Академию OldBoy совершенно случайно и решил попробовать, могу сказать, что это достойные мастера и преподаватели, с очень близким мне подходом к процессу стрижки.
                        //- <br>Из плюсов могу выделить огромный багаж новых теоретических и практических навыков (текстуры, разделения, техники сведения на нет), отзывчивые преподаватели, ответственный подход во всем (начиная от выбора моделей и заканчивая организацией).

        section.contacts#contacts
            .map#map

        section.popup
            .popup__window
                header.popup__header
                    .popup__close
                .popup__content
                    h2.popup__title Ваша заявка добавлена
                    .popup__text Благодарим Вас за обращение в нашу Академию. Наш менеджер свяжется с Вами в ближайшее время.
                    .popup__respect С уважением, <br> Команда OldBoy Академии
                    .popup__controls
                        a.popup__accept(href="#") Хорошо

        footer.page-footer
            article.contacts-box
                header.contacts-box__header
                    h2.contacts-box__title Контакты
                    p.contacts-box__text По всем интересующим вас вопросам просим вас связаться с нашим менеджером.

                .contacts-box__body
                    .contact
                        .contact__icon.icon-phone
                        .contact__name Телефон
                        .contact__value
                            a(href="tel:+79114567890") +7 911 456-78-90

                    .contact
                        .contact__icon.icon-mail-alt
                        .contact__name e-mail
                        .contact__value
                            a(href="mailto: academy@oldboy.com") academy@oldboy.com

                footer.contacts-box__footer
                    .contacts-box__logo
                        //- img(src="./img/logo.svg", alt="Академия Олдбой логотип")
                        img(src="./img/logo-bw.svg", alt="Академия Олдбой логотип")

            .page-footer__wrapper
                .page-footer__social
                    a(href="").icon-vkontakte
                    a(href="").icon-instagram
                nav.page-footer__menu
                    ul
                        li: a(href="#about") Об Академии
                        li: a(href="#features") Преимущества
                        li: a(href="#courses") Наши Курсы
                        //- li: a(href="#team") Команда
                        li: a(href="#contacts") Контакты
                .page-footer__copy &copy;Академия Олдбой. 2018<br>Все права сохранены.


    //- script(src="menu.js")
    //- script(src="app.js")
    script(src="main.js")
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClofSbCu6EYSgaWdfCK5G1i_eUXgL4RCk&callback=initMap")
    script(src="map.js")