<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        <link href="https://fonts.googleapis.com/css?family=Lora:400,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,500,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
        link(rel="stylesheet", href="styles.css")

        title Oldboy Academy

    body
        header.page-header
            .page-header__logo
                img(src="/img/logo.svg", alt="Академия Олдбой логотип")

            nav.main-nav: ul
                li: a(href="#") Курсы
                li: a(href="#") Команда
                li: a(href="#") Отзывы
                li: a(href="#") Моделям
                li: a(href="#") Проверить<br>сертификат

            .page-header__phone
                a(href="tel:+79114567890") +7 911 456-78-90

        section.hero
            .menu-icon: .menu-icon__middle

            aside.hero-aside
                .hero-aside__logo
                    img(src="/img/logo-bw.svg", alt="Академия Олдбой логотип монохром")
                .hero-aside__wrapper
                    h1.hero__title Добро <br>пожаловать <br>в&nbsp;Академию <br><strong>«OldBoy»</strong>
                    .hero-aside__footnote
                        h2.hero-aside__title Школа барберинга
                        p.hero-aside__description Место, где вы станете настоящим барбером, профессионалом своего дела и ведущим специалистом барбершопа


            //- .hero__icon
            //-     img(src="/img/masson.svg", alt="")
            
            .slider#header-slider
                .slider__slide
                    .hero-form
                        header.hero-form__header
                            h2.hero-form__title Старт группы <strong>«Барбер&nbsp;с&nbsp;нуля»</strong>
                            p.hero-form__subtitle Уже 1 ноября<br>спешите!

                        .hero-form__wrapper
                            form.hero-form__form(action="")
                                input.hero-form__input(type="text" name="name" placeholder="Имя")
                                input.hero-form__input(type="text" name="phone" placeholder="Телефон")
                                input.hero-form__input(type="email" name="email" placeholder="Электронная почта")
                                input.hero-form__button(type="submit" value="Записаться")
                            .hero-form__warning Заполняя данную форму<br> вы&nbsp;принимаете условия<br> <a href="http://">политики конфиденциальности</a>

                .slider__slide
                    .hero-form
                        header.hero-form__header
                            h2.hero-form__title Стань<br>моделью!
                            p.hero-form__subtitle Запись на<br>бесплатную стрижку

                    .hero-form__wrapper
                        form.hero-form__form(action="")
                            input.hero-form__input(type="text" name="name" placeholder="Имя")
                            input.hero-form__input(type="text" name="phone" placeholder="Телефон")
                            input.hero-form__button(type="submit" value="Записаться")
                        .hero-form__warning Заполняя данную форму<br> вы&nbsp;принимаете условия<br> <a href="http://">политики конфиденциальности</a>

        section.about
            .about__logo
                img(src="/img/logo.svg", alt="Академия Олдбой цветно логотип")

            .about__content
                h2.about__title Академия барберинга OldBoy —&nbsp;место, где рождаются настоящие мужские парикмахеры
                p.about__text Развитие культуры барберинга вернуло мужчинам ощущения и эмоции, которые испытывали джентельмены на старинных черно-белых фотографиях. Традиции лучших цирюлен прошлого века возвращаются, а истинные барберы активно возрождают культуру брадобрейства в аскетичной атмосфере исключительно мужской парикмахерской.
                p.about__text Академия барберинга — школа, где вы станете настоящим барбером, профессионалом своего дела и ведущим специалистом барбершопа. Хотите узнать, как из бородатого мужчины сделать джентльмена? Тогда записывайтесь на наши курсы.

                .about__more
                    a.button(href="#") Подробнее об Академии

        section.selling-features
            article.feature.feature--active
                header.feature__header
                    h3.feature__title Оптимальный баланс практики и теории
                    .feature__icon
                        img(src="/img/features/target.svg", alt="")
                .feature__body
                    p.feature__item Опытные преподаватели с многолетним стажем
                    p.feature__item Ориентированность на работу с живыми моделями
                    p.feature__item Психология общения и работа с клиентом
                .feature__more
                    a(href="#") Подробнее
                .feature__background.feature__background--balance
                    .feature__deco
                        img(src="/img/features/brain.svg", alt="")

            article.feature
                header.feature__header
                    h3.feature__title Комфортные условия обучения
                    .feature__icon
                        img(src="/img/features/university.svg", alt="")
                .feature__body
                    p.feature__item Современное оборудование и оснащенный зал
                    p.feature__item Удобное расположение хостела для проживания
                .feature__more
                    a(href="#") Подробнее
                .feature__background.feature__background--comfort
                    .feature__deco
                        img(src="/img/features/barber-chair.svg", alt="")

            article.feature
                header.feature__header
                    h3.feature__title Создание рабочих и творческих связей
                    .feature__icon
                        img(src="/img/features/razor.svg", alt="")
                .feature__body
                    p.feature__item Помощь в трудоустройстве, рекомендации и поддержка
                    p.feature__item Создание команды профессионалов и их продвижение на барберинг арене
                    p.feature__item Особые условия и выгодные предложения партнеров
                .feature__more
                    a(href="#") Подробнее
                .feature__background.feature__background--connections
                    .feature__deco
                        img(src="/img/features/scissors.svg", alt="")

        section.gallery
            .gallery__preview
            header.gallery__header
                h2.gallery__title Добро<br>пожаловать<br>в&nbsp;семью OldBoy
                p.gallery__subtitle Галерея работ наших<br>мастеров и учеников
                .gallery__more: a(href="").button Галерея Академии
                

        section.courses
            header.courses__header
                h2.courses__title Наши<br>курсы

            .courses__content
                article.course
                    header.course__header
                        h3.course__title Барбер с «нуля»
                        .course__image: img(src="/img/courses/course1.jpg", alt="Академия Олдбой курс по барберингу")
                        .course__ribbons
                            p.course__ribbon.course__ribbon--blue новый <br>курс
                            p.course__ribbon.course__ribbon--red специальная <br>цена

                    .course__content
                        .course__info
                            .course__info-icon: img(src="/img/icons/calendar.svg", alt="")
                            .course__info-text Старт: 1 ноября <br>Будние дни
                        .course__info
                            .course__info-icon: img(src="/img/icons/time-biggest.svg", alt="")
                            .course__info-text Длительность: <br>2 месяца
                        .course__info
                            .course__info-icon: img(src="/img/icons/level-noob.svg", alt="")
                            .course__info-text Уровень навыков: <br>без опыта
                        .course__info
                            .course__info-icon: img(src="/img/icons/group.svg", alt="")
                            .course__info-text.course__info-text--last Формат: <br>обучение в группе
                            
                    .course__more
                        a.button.button--block(href="#") Подробнее о&nbsp;курсе

                article.course
                    header.course__header
                        h3.course__title Барбер «универсал»
                        .course__image: img(src="/img/courses/course2.jpg", alt="Академия Олдбой курс по барберингу")
                        .course__ribbons
                            //- p.course__ribbon.course__ribbon--blue новый <br>курс
                            //- p.course__ribbon.course__ribbon--red специальная <br>цена

                    .course__content
                        .course__info
                            .course__info-icon: img(src="/img/icons/calendar.svg", alt="")
                            .course__info-text Старт: 1 ноября <br>Будние дни
                        .course__info
                            .course__info-icon: img(src="/img/icons/time-average.svg", alt="")
                            .course__info-text Длительность: <br>1 месяц
                        .course__info
                            .course__info-icon: img(src="/img/icons/level-beginner.svg", alt="")
                            .course__info-text Уровень навыков: <br>минимум 6 месяцев
                        .course__info
                            .course__info-icon: img(src="/img/icons/group.svg", alt="")
                            .course__info-text.course__info-text--last Формат: <br>обучение в группе
                            
                    .course__more
                        a.button.button--block(href="#") Подробнее о&nbsp;курсе

                article.course
                    header.course__header
                        h3.course__title Шеф-барбер
                        .course__image: img(src="/img/courses/course3.jpg", alt="Академия Олдбой курс по барберингу")
                        .course__ribbons
                            //- p.course__ribbon.course__ribbon--blue новый <br>курс
                            p.course__ribbon.course__ribbon--red специальная <br>цена

                    .course__content
                        .course__info
                            .course__info-icon: img(src="/img/icons/calendar.svg", alt="")
                            .course__info-text Старт: 1 ноября <br>Будние дни
                        .course__info
                            .course__info-icon: img(src="/img/icons/time-small.svg", alt="")
                            .course__info-text Длительность: <br>2 недели
                        .course__info
                            .course__info-icon: img(src="/img/icons/level-medium.svg", alt="")
                            .course__info-text Уровень навыков: <br>опытный барбер
                        .course__info
                            .course__info-icon: img(src="/img/icons/single.svg", alt="")
                            .course__info-text.course__info-text--last Формат: <br>индивидуальное

                    .course__more
                        a.button.button--block(href="#") Подробнее о&nbsp;курсе

        section.team
            header.team__header
                h2.team__title Команда<br>Академии

            .team__content
                article.member
                    .member__photo: img(src="/img/members/member1.jpg", alt="")
                    //- .member__content
                    h3.member__name Юрий Артюх
                    p.member__exp Опыт работы — 7 лет
                    p.member__text Ведущий мастер сети Олдбой. Сертифицированный технолог бренда American Crew.
                    
                    .member__more
                        a.button.button--blue.button--block(href="") Подробнее о преподавателе


                article.member
                    .member__photo: img(src="/img/members/member2.jpg", alt="")
                    h3.member__name Виктор Пилграм
                    p.member__exp Опыт работы - 7 лет
                    p.member__text Шеф-мастер Олдбой. Сертифицированный мастер ножниц и бритвы дважды краснознамённого, трижды прославленного барбершопа Олдбой.

                    .member__more
                        a.button.button--blue.button--block(href="") Подробнее о преподавателе

                article.member
                    .member__photo: img(src="/img/members/member3.jpg", alt="")
                    h3.member__name Просто Олег
                    p.member__exp Опыт работы - 5 лет
                    p.member__text Мастер Олдбой. Любимец публики. Гений, миллонер, плейбой и филантроп.

                    .member__more
                        a.button.button--blue.button--block(href="") Подробнее о преподавателе
        
        section.testimonials
            header.testimonials__header
                h2.testimonials__title Отзывы

            .testimonials__content
                article.testimonial
                    .testimonial__photo: img(src="/img/testimonials/photo-1.jpg", alt="")
                    p.testimonial__text Достаточно долго искал достойную школу, для того чтобы ещё немного прокачаться. Наткнулся на Академию OldBoy совершенно случайно и решил попробовать, могу сказать, что это достойные мастера и преподаватели, с очень близким мне подходом к процессу стрижки.<br>Из плюсов могу выделить огромный багаж новых теоретических и практических навыков (текстуры, разделения, техники сведения на нет), отзывчивые преподаватели, ответственный подход во всем (начиная от выбора моделей и заканчивая организацией).

                    h3.testimonial__name Александр Тимофеев
                    p.testimonial__from Москва, барбершоп «Firma»
                    a.testimonial__origin(href="#") Отзыв в Instagram

    script(src="menu.js")
    script(src="app.js")