<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        <link href="https://fonts.googleapis.com/css?family=Lora:400,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
        link(rel="stylesheet", href="styles.css")

        title Oldboy Academy

    body
        header.page-header
            .page-header__logo
                img(src="/img/logo-bw.svg", alt="Академия Олдбой монохромный логотип")

            nav.main-nav: ul
                li: a(href="#") Курсы
                li: a(href="#") Команда
                li: a(href="#") Отзывы
                li: a(href="#") Моделям
                li: a(href="#") Проверить <br>сертификат

        .hero
            .menu-icon: .menu-icon__middle

            h1.hero__title Добро пожаловать в&nbsp;Академию «Oldboy»
            .hero__icon
                img(src="/img/masson.svg", alt="")

        .about
            .about__logo
                img(src="/img/logo.svg", alt="Академия Олдбой цветно логотип")

            .about__content
                h2.about__title Академия барберинга —&nbsp;место, где рождаются настоящие мужские парикмахеры
                p.about__text Развитие культуры барберинга вернула мужчинам ощущения и эмоции, которые испытывали джентельмены на старинных черно-белых фотографиях. Традиции лучших цирюлен прошлого века возвращаются, а истинные барберы активно возрождают культуру брадобрейства в аскетичной атмосфере исключительно мужской парикмахерской.
                p.about__text Академия барберинга — школа, где вы станете настоящим барбером, профессионалом своего дела и ведущим специалистом барбершопа. Хотите узнать, как из бородатого мужчины сделать джентльмена? Тогда записывайтесь на наши курсы.

        .courses

    script(src="menu.js")