.about {
    // positioning
    position: relative;

    // box model
    padding: 60px 25px;
    padding-bottom: 0;

    @include atTabletsPortrait {
        // box model
        padding: 60px;
        // display: flex;
    }

    &::before {
        content: "";

        // positioning
        position: absolute;
        left: 0;
        top: -20px;
        z-index: 6;

        // box model
        height: 32px;
        width: 100%;

        // visual
        background-image: url("./img/deco-b.svg");
        background-size: 80px;
        background-repeat: repeat-x;
        background-position: top center;
    }

    &__logo {
        // box model
        padding: 0 50px;
        padding-bottom: 30px;

        @include atTabletsPortrait {
            // box model
            width: 200px;
            padding: 0;
            flex-grow: 2;
            float: left;
            margin: 30px;
            margin-left: 0;
            margin-bottom: 20px;
        }

        img {
            // box model
            width: 100%;
        }
    }

    &__content {
        // box model
        margin-bottom: 40px;

        @include atTabletsPortrait {
            // box model
            flex-grow: 1;
        }
    }

    &__title {
        // box model
        padding-bottom: 1em;

        // typography
        font-family: $titleFont;
        font-size: 1.5rem;
        // text-align: center;
    }

    &__text {
        // typography
        line-height: 1.5;
    }

    &__more {
        // box model
        padding-top: 40px;

        // typography
        text-align: center;
    }
}