.about-promos {
    // box model
    padding: 10px 25px;
    padding-bottom: 40px;

    // visual
    background-color: $white;
    
    @include atTabletsPortrait {
        // box model
        padding: 30px 60px;
    }
}