.about {
    // positioning
    position: relative;

    // box model
    padding: 35px 25px;
    padding-bottom: 5px;

    // visual
    background-color: $white;

    @include atTabletsPortrait {
        // box model
        padding: 60px;
    }

    @include atDesktopLarge {
        // box model
        padding: 20px 120px;
    }

    &::before {
        content: "";
        
        // positioning
        position: absolute;
        left: 0;
        top: -20px;
        z-index: 6;
        
        // box model
        height: 32px;
        width: 100%;
        
        // visual
        background-image: url("./img/deco-b.svg");
        background-size: 80px;
        background-repeat: repeat-x;
        background-position: top center;
    }
    
    &--yellow {
        // positioning
        z-index: 2;

        // box model
        padding: 60px 25px;

        // visual
        background-color: $yellow;

        @include atTabletsPortrait {
            // box model
            padding: 85px 60px;
        }
    
        @include atDesktopLarge {
            // box model
            padding: 80px 120px;
        }

        &::before {
            content: "";
    
            // positioning
            position: absolute;
            top: 0;
            left: 0;
            z-index: 6;
    
            // box model
            height: 32px;
            width: 100%;
            // border: 1px solid red;
    
            // visual
            background-image: url("./img/deco-b-r.svg");
            background-size: 80px;
            background-repeat: repeat-x;
            background-position: -40px top;
        }
    }

    &__row {
        &::after {
            content: "";
            
            // box model
            display: table;
            width: 100%;
            clear: both;
        }
    }

    &__logo {
        // box model
        padding: 0 50px;
        padding-bottom: 30px;

        // typography
        text-align: center;

        @include atTabletsPortrait {
            // box model
            width: 240px;
            padding: 0;
            margin: 0 auto;
            margin-bottom: 40px;
        }

        @include atDesktop {
            // box model
            float: left;
            padding-top: 50px;
            width: 45%;
        }

        img {
            // box model
            display: inline-block;
            width: 100%;
            max-width: 450px;
        }
    }

    &__content {
        // box model
        margin-bottom: 40px;

        &--left {
            @include atDesktop {
                // box model
                float: left;
                width: 50%;
                padding-right: 30px;
            }

            @include atDesktopLarge {
                // box model
                padding-right: 60px;
            }
        }

        &--right {
            @include atDesktop {
                // box model
                float: right;
                width: 50%;
                padding-left: 30px;
            }

            @include atDesktopLarge {
                // box model
                padding-left: 60px;
            }
        }

        h3 {
            // box model
            margin: 30px 0;
            margin-top: 40px;
        }
        
        p {
            // box model
            padding-bottom: 1em;
            
            // typography
            line-height: 1.75;
            
            @include atDesktop {
                // typography
                font-size: 1.125rem;
            }
        }

        ul {
            // box model
            margin: 0;
            padding: 0;

            // list
            list-style: none;
        }
        
        li {
            // box model
            padding-bottom: 0.5em;
            
            // typography
            line-height: 1.75;

            @include atDesktop {
                // typography
                font-size: 1.125rem;
            }
        }

        li::before {
            content: "— ";
        }
    }

    &__title {
        // typography
        font-family: $titleFont;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;

        @include atTabletsPortrait {
            // typography
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.35;
        }

        @include atDesktop {
            // box model
            max-width: 800px;

            // typography
            font-size: 2.5rem;
        }
    }

    &__text {
        // typography
        line-height: 1.75;

        @include atDesktop {
            // typography
            font-size: 1.125rem;
        }
    }

    &__more {
        // box model
        padding-top: 40px;

        // typography
        text-align: center;

        @include atDesktop {
            // typography
            text-align: left;
        }
    }

    &__deco {
        // positioning
        position: absolute;
        bottom: -50px;
        right: -150px;
        z-index: 1;

        // box model
        height: 400px;
        width: 400px;

        // visual
        background-image: url("./img/masson-yellow.png");
        background-size: cover;
    }
}