.button {
    // box model
    display: inline-block;
    vertical-align: top;
    padding: 15px 30px;

    // typography
    color: $white;
    font-size: 0.876rem;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    // visual
    background-color: $gold;
    border-radius: 5px;
    transition: all 0.3s ease-out;

    &:hover {
        // visual
        background-color: $blue;
    }

    &--block {
        // box model
        display: block;
    }

    &--blue {
        // visual
        background-color: $blue;
    }
}