.contacts {
    // positioning
    position: relative;

    // box model
    padding: 0;

    // typography
    font-size: 0;

    // visual
    background-color: $dark;

    &::before {
        content: "";

        // positioning
        position: absolute;
        left: 0;
        top: -1px;
        z-index: 6;

        // box model
        height: 32px;
        width: 100%;

        // visual
        background-image: url("./img/deco-b-r-yellow.svg");
        background-size: 80px;
        background-repeat: repeat-x;
        background-position: top -40px;
    }

    &::after {
        content: "";

        // positioning
        position: absolute;
        top: 569px;
        left: 0;
        z-index: 6;

        // box model
        height: 32px;
        width: 100%;

        // visual
        background-image: url("./img/deco-b.svg");
        background-size: 80px;
        background-repeat: repeat-x;
        background-position: -40px bottom;

        @include atDesktop {
            content: "";

            // positioning
            position: absolute;
            top: 100px;
            left: -180px;
            z-index: 7;

            // box model
            display: block;
            height: 695px;
            height: 650px;
            width: 100%;
            border: 2px solid $gold;

            // visual
            background-image: none;
            pointer-events: none;
        }
    }
    
    &--inner {
        &::before {
            // box model
            display: none;
        }

        &::after {
            // box model
            display: none;
        }
    }
}