.contacts {
    // positioning
    position: relative;

    // box model
    padding: 0;

    // typography
    font-size: 0;

    // visual
    background-color: $dark;

    &::before {
        content: "";

        // positioning
        position: absolute;
        left: 0;
        top: -1px;
        z-index: 6;

        // box model
        height: 32px;
        width: 100%;

        // visual
        background-image: url("./img/deco-b-r.svg");
        background-size: 80px;
        background-repeat: repeat-x;
        background-position: top -40px;
    }

    &--inner {
        &::before {
            // box model
            display: none;
        }
    }
}