.contacts-box {
    // box model
    padding: 30px;
    margin: -40px -25px;
    margin-bottom: 40px;
    
    // visual
    background-color: $white;
    
    @include atDesktop {
        // positioning
        position: absolute;
        bottom: 140px;
        right: 60px;
        z-index: 7;

        // box model
        width: 300px;
        border: 1px solid $gold;

        // visual
        border-radius: 6px;
    }

    @include atDesktopLarge{
        // positioning
        bottom: 110px;
    }
    
    &--inner {
        // positioning
        position: relative;
        bottom: auto;
        
        // box model
        margin: 0;
        
        @include atDesktop {
            // positioning
            position: absolute;
            right: 40px;
            bottom: -190px;
        }
    }

    &__header {
        // box model
        margin-bottom: 30px;
    }

    &__title {
        // box model
        margin-top: 0;

        // typography
        color: $gold;
        color: $darkGold;
        font-family: $titleFont;
        font-size: 1.75rem;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }

    &__text {
        // box model
        max-width: 400px;
        margin: 0 auto;

        // typography
        color: $dark;
        font-size: 0.875rem;
        line-height: 1.5;
        text-align: center;
    }

    &__body {
        // box model
        margin-bottom: 2rem;
    }

    &__footer {
        // typography
        text-align: center;
    }

    &__logo {
        // box model
        display: inline-block;
        vertical-align: top;
        width: 100px;

        // visual
        opacity: 0.85;
        border-radius: 50%;

        img {
            // box model
            width: 100%;
        }
    }
}