.course {
    // positioning
    position: relative;

    // box model
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 7px;

    // visual
    background-color: $white;
    border: 5px solid $white;

    &:before {
        content: "";

        // positioning
        position: absolute;
        left: 0;
        top: 0;
        
        // box model
        height: 100%;
        width: 100%;

        // visual
        border: 2px solid $gold;
        pointer-events: none;
    }

    &__header {
        // positioning
        position: relative;

        // box model

        // typography
        font-size: 0;
    }

    &__title {
        // positioning
        position: absolute;
        bottom: 0;
        right: -7px;
        transform: translateY(50%);
        // top: 20px;
        // bottom: -50%;

        // box model
        width: 90%;
        margin: 0;
        padding: 15px 20px;

        // typography
        color: $white;
        font-size: 1.35rem;
        font-family: $titleFont;
        font-variant: small-caps;

        // visual
        background-color: $gold;

        &::before {
            content: "";

            // positioning
            position: absolute;
            top: 0;
            left: -10px;

            // box model
            height: 50%;
            width: 10px;
            
            // visual
            background-image: linear-gradient(to left top, $gold 0, $gold 50%, transparent 50%, transparent 100%);
        }
        
        &::after {
            content: "";

            // positioning
            position: absolute;
            bottom: 0;
            left: -10px;

            // box model
            height: 50%;
            width: 10px;
            
            // visual
            background-image: linear-gradient(to left bottom, $gold 0, $gold 50%, transparent 50%, transparent 100%);
        }
    }

    &__image {
        // box model
        width: 100%;

        img {
            // box model
            width: 100%;
        }
    }

    &__ribbons {
        // positioning
        position: absolute;
        // bottom: 55px;
        top: 10px;
        left: 0;
        // left: 0;
        // display: none;

        // typography
        font-size: 0;
    }

    &__ribbon {
        // positioning
        position: relative;

        // box model
        width: 110px;
        margin: 0;
        margin-bottom: 5px;
        padding: 6px;
        padding-left: 10px;

        // typography
        color: $white;
        font-size: 0.7rem;
        font-weight: 700;
        line-height: 1.25;
        text-transform: uppercase;

        &::before {
            content: "";

            // positioning
            position: absolute;
            top: 0;
            right: -10px;

            // box model
            height: 50%;
            width: 10px;
            
            // visual
            background-image: linear-gradient(to right top, $white 0, $white 50%, transparent 50%, transparent 100%);
        }
        
        &::after {
            content: "";

            // positioning
            position: absolute;
            bottom: 0;
            right: -10px;

            // box model
            height: 50%;
            width: 10px;
            
            // visual
            background-image: linear-gradient(to right bottom, $white 0, $white 50%, transparent 50%, transparent 100%);
        }

        &--red {
            // visual
            background-color: $red;

            &::before {
                background-image: linear-gradient(to right top, $red 0, $red 50%, transparent 50%, transparent 100%);
            }

            &::after {
                background-image: linear-gradient(to right bottom, $red 0, $red 50%, transparent 50%, transparent 100%);
            }
        }
        
        &--blue {
            // visual
            background-color: $blue;

            &::before {
                background-image: linear-gradient(to right top, $blue 0, $blue 50%, transparent 50%, transparent 100%);
            }

            &::after {
                background-image: linear-gradient(to right bottom, $blue 0, $blue 50%, transparent 50%, transparent 100%);
            }
        }
    }

    &__content {
        // box model
        padding: 13px;
        padding-top: 45px;
    }

    &__info {
        // positioning
        position: relative;

        // box model
        padding-left: 50px;
        padding-right: 5px;
    }

    &__info-icon {
        // positioning
        position: absolute;
        left: 7px;
        top: 10px;

        // box model
        height: 30px;
        width: 30px;

        img {
            // box model
            max-height: 100%;
            max-width: 100%;
        }
    }

    &__info-text {
        // box model
        margin: 0;
        padding: 8px;

        // typography
        font-size: 0.875rem;
        // line-height: 1.25;

        // visual
        border-bottom: 1px solid $gold;

        &--last {
            // box model
            padding-bottom: 0;

            // visual
            border-bottom: none;
        }
    }

    &__more {
        // box model
        padding: 13px;
    }
}