.courses {
    // positioning
    position: relative;

    // box model
    padding: 40px 0px;
    padding-bottom: 0;
    
    @include atTabletsPortrait {
        // box model
        padding: 80px 60px;
        padding-bottom: 0;
    }

    @include atTabletsLandscape {
        // box model
        padding-right: 30px;
    }
    
    // visual
    background-color: $yellow;
    
    &::before {
        content: "";
        
        // positioning
        position: absolute;
        left: 0;
        top: -1px;
        z-index: 6;
        
        // box model
        height: 32px;
        width: 100%;
        
        // visual
        background-image: url("./img/deco-b-r.svg");
        background-size: 80px;
        background-repeat: repeat-x;
        background-position: top -40px;
    }
}
    
.courses__header {
    // box model
    padding: 20px 25px;
    max-width: 400px;

    @include atTabletsPortrait {
        // box model
        padding: 0;
    }

    @include atDesktop {
        // box model
        padding-bottom: 40px;
    }
}

.courses__content {
    // box model
    padding: 25px;

    // typography
    font-size: 0;

    @include atTabletsPortrait {
        // box model
        padding: 0;
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}