.feature {
    // positioning
    position: relative;

    // box model
    width: 100%;
    min-height: 660px;
    padding: 80px 25px;
    padding-bottom: 140px;

    @include atTabletsPortrait {
        // box model
        padding: 100px;
        padding-bottom: 200px;
    }

    @include atDesktop {
        // box model
        height: 100vh;
        padding: 100px 60px;
        max-height: 900px;

        // visual
        transition: all 0.3s ease-out;
    }

    @include atDesktopLarge {
        // box model
        max-height: 840px;
    }

    &::before {
        content: "";

        // positioning
        position: absolute;
        left: 0;
        top: -1px;
        z-index: 2;

        // box model
        height: 32px;
        width: 100%;

        // visual
        background-image: url("./img/deco-b-r.svg");
        background-size: 80px;
        background-repeat: repeat-x;
        background-position: 0px top;
    }

    &::after {
        content: "";

        // positioning
        position: absolute;
        bottom: -1px;
        left: 0;
        z-index: 2;

        // box model
        height: 32px;
        width: 100%;

        // visual
        background-image: url("./img/deco-b.svg");
        background-size: 80px;
        background-repeat: repeat-x;
        background-position: -40px bottom;

        @include atDesktop {
            // box model
            display: none;
        }
    }

    &__header {
        // positioning
        position: relative;
        z-index: 3;
    }
    
    &__title {
        // box model
        margin: 0;
        margin-bottom: 40px;
        
        // typography
        color: white;
        font-family: $titleFont;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;

        @include atTabletsPortrait {
            // box model
            max-width: 400px;
            margin-bottom: 80px;
            
            // typography
            font-size: 2rem;
        }
        
        @include atTabletsLandscape {
            // box model
            margin-bottom: 60px;
        }
        
        @include atDesktop {
            // box model
            min-height: 100px;

            // typography
            font-size: 1.5rem;
        }

        @include atDesktopLarge {
            // typography
            font-size: 2rem;
        }
    }
    
    &__icon {
        // positioning
        position: absolute;
        left: -100px;
        top: -150px;
        // z-index: 1;

        // box model
        height: 260px;
        width: 260px;

        // visual
        opacity: 0.35;

        @include atTabletsPortrait {
            // positioning
            left: -140px;
            top: -170px;
        }

        @include atDesktop {
            // positioning
            left: -100px;

            // box model
            height: 180px;
            width: 180px;
        }

        img {
            // box model
            height: 100%;
            width: 100%;
        }
    }
    
    &__body {
        // positioning
        position: relative;
        z-index: 2;

        // box model
        margin-bottom: 40px;
    }
    
    &__item {
        // box model
        margin-bottom: 30px;

        // typography
        color: $white;
        line-height: 1.5;

        @include atTabletsPortrait {
            // box model
            max-width: 300px;
            margin-bottom: 60px;

            // typography
            font-size: 1.25rem;
        }

        @include atTabletsLandscape {
            // box model
            margin-bottom: 40px;
            
            // typography
            font-size: 1.125rem;
        }
    }
    
    &__more {
        // positioning
        position: absolute;
        bottom: 80px;
        left: 25px;
        z-index: 2;

        @include atTabletsPortrait {
            // positioning
            left: 100px;
            bottom: 120px;
        }

        @include atDesktop {
            // positioning
            left: 60px;
        }

        a {
            // box model
            display: inline-block;
            padding: 12px 40px;

            // typography
            color: $dark;
            font-weight: 700;
            text-decoration: none;
            text-transform: uppercase;

            // visual
            background-color: $white;
            border-radius: 5px;
            transition: all 0.3s ease-out;

        }
        
        &--balance {
            a:hover {
                // typography
                color: $white;
    
                // visual
                background-color: $blue;
            }
        }
        
        &--comfort {
            a:hover {
                // typography
                color: $white;
        
                // visual
                background-color: $gold;
            }
        }
        
        &--connections {
            a:hover {
                // typography
                color: $white;
        
                // visual
                background-color: $red;
            }
        }
    }

    &__deco {
        // positioning
        position: absolute;
        bottom: 100px;
        right: 0;
        transform: translateX(50%);
        z-index: 2;

        // box model
        height: 260px;
        width: 260px;

        // visual
        opacity: 0.35;

        img {
            // box model
            height: 100%;
            width: 100%;
        }
    }
    
    &__background {
        // positioning
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;

        // box model
        width: 100%;
        height: 800px;
        max-height: 100%;

        // visual
        background-size: cover;
        background-position: center center;
        overflow: hidden;
        // opacity: 0.1;

        @include atTabletsPortrait {
            // box model
            height: 100%;
        }
        
        &--balance {
            // visual
            background-color: $blue;
            background-image: url("/img/balance.jpg");
        }
        
        &--comfort {
            // visual
            background-color: $darkGold;
            background-image: url("/img/comfort.jpg");
        }
        
        &--connections {
            // visual
            background-color: $red;
            background-image: url("/img/connections.jpg");
        }
    }

    &--active {
        .feature__title {
            // typography
            color: $white;
        }

        .feature__item {
            // typography
            color: $white;
        }

        .feature__background {
            // visual
            opacity: 1;
        }
    }
}