.feature {
    // positioning
    position: relative;
    
    // box model
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 60px;
    padding: 40px 25px;
    border: 1px solid $gold;
    
    @include atTabletsPortrait {
        // box model
        padding: 50px 40px;
        padding-top: 40px;
    }

    @include atTabletsLandscape {
        // box model
        padding: 40px 25px;
        width: 30%;
    }
    
    @include atDesktop {
        // box model
        min-height: 560px;
        width: 30%;
        border: 1px solid transparent;
        
        // visual
        transition: all 0.3s ease-out;
    }
}

.feature__header {
    // positioning
    position: relative;
    z-index: 3;

    @include atDesktop {
        // box model
        height: 140px;
    }

    @include atDesktopLarge {
        // box model
        height: 210px;
    }
}

.feature__title {
    // box model
    margin: 0;
    margin-bottom: 40px;
    
    // typography
    color: white;
    font-family: $titleFont;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;

    @include atTabletsPortrait {
        // box model
        max-width: 400px;
        // margin-bottom: 80px;
        
        // typography
        font-size: 2rem;
    }
    
    @include atTabletsLandscape {
        // typography
        font-size: 1.25rem;
    }
    
    @include atDesktop {
        // box model
        min-height: 100px;

        // typography
        font-size: 1.5rem;
    }

    @include atDesktopLarge {
        // typography
        font-size: 2rem;
    }
}

.feature__icon {
    // positioning
    position: absolute;
    left: -50px;
    top: -80px;

    // box model
    height: 200px;
    width: 200px;

    // visual
    opacity: 0.25;
    pointer-events: none;

    @include atTabletsPortrait {
        // positioning
        left: -80px;
    }

    @include atTabletsLandscape {
        // positioning
        left: -50px;
        top: -100px;

        // box model
        height: 120px;
        width: 120px;
    }

    @include atDesktop {
        // box model
        height: 150px;
        width: 150px;
    }

    img {
        // box model
        max-height: 100%;
        max-width: 100%;
    }
}

.feature__body {
    // positioning
    position: relative;
    z-index: 2;

    // box model
    margin-bottom: 40px;
}

.feature__item {
    // box model
    margin-bottom: 30px;

    // typography
    color: $white;
    font-size: 1rem;
    line-height: 1.5;

    @include atTabletsPortrait {
        // box model
        max-width: 300px;
        margin-bottom: 40px;

        // typography
        font-size: 1.125rem;
    }

    @include atTabletsLandscape {
        // box model
        margin-bottom: 40px;
        
        // typography
        font-size: 0.875rem;
        font-size: 1rem;
    }
}

.feature__more {
    @include atDesktop {
        // box model
        margin-top: 20px;
    }

    a {
        // box model
        display: inline-block;
        padding: 12px 40px;
        border: 1px solid $gold;

        // typography
        color: $white;
        font-size: 0.875rem;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;

        // visual
        background-color: $gold;
        transition: all 0.3s ease-out;
        border-radius: 5px;

        &:hover {
            // visual
            background-color: transparent;
        }
    }
}