.four-o-four {
    // positioning
    position: relative;

    // box model
    width: 100%;
    height: 100vh;

    @include atDesktopM {
        &:before {
            content: "";

            // positioning
            position: absolute;
            left: -30vh;
            top: 10%;
            z-index: 2;

            // box model
            height: 70%;
            width: 100%;

            // visual
            background-image: url("./img/masson.png");
            background-repeat: no-repeat;
            background-size: contain;
            opacity: 0.125;
        }
    }
}

.four-o-four__404 {
    // positioning
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;

    // box model
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-top: 40px;

    @include atTablet {
        // box model
        padding-top: 100px;
    }

    @include atDesktopM {
        // box model
        padding-top: 60px;
    }

    @include atDesktopL {
        // box model
        padding-top: 100px;
    }
}

.four-o-four__glitch {
    // positioning
    position: absolute;
    z-index: 1;
}

.four-o-four__contacts {
    // positioning
    position: absolute;
    bottom: 80px;
    left: 0;
    z-index: 2;

    // box model
    width: 100%;

    // typography
    text-align: center;

    @include atDesktopM {
        // positioning
        bottom: 60px;

        // box model
        padding-left: 60px;

        // typography
        text-align: left;
    }
}

.four-o-four__quote {
    // box model
    display: none;

    @include atDesktopM {
        // positioning
        position: absolute;
        z-index: 3;
        bottom: 60px;
        right: 60px;

        // box model
        display: block;

        // typography
        color: $white;
        font-size: 1.25rem;
        letter-spacing: 1px;
        text-align: right;
        text-transform: uppercase;
    }

    blockquote {
        // box model
        padding: 0;
        margin: 0;
        
        // typography
        font-weight: 700;
    }
}