.hero-header {
    // box model
    min-height: calc(100vh - 180px);
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include atTabletsPortrait {
        // box model
        min-height: auto;
    }

    @include atTabletsLandscape {
        // box model
        flex-direction: row;
        align-items: flex-end;
    }

    @include atDesktop {
        // box model
        height: 100%;
        padding-bottom: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    &--block {
        // box model
        display: block;
    }

    &__caption {
        @include atTabletsLandscape {
            // box model
            max-width: 480px;
        }

        @include atDesktopLarge {
            // box model
            max-width: 540px;
        }
    }

    &__title {
        // box model
        margin-left: -0.05em;

        // typography
        color: $white;
        font-family: $titleFont;
        font-size: 1.75rem;
        font-weight: 400;
        font-variant: small-caps;
        letter-spacing: 1px;

        @include atTabletsPortrait {
            // box model
            margin-top: 0;

            // typography
            font-size: 2.125rem;
        }

        @include atTabletsLandscape {
            // typography
            font-size: 2.5rem;
        }

        @include atDesktopLarge {
            // typography
            font-size: 3rem;
        }
    }

    &__subtitle {
        // typography
        color: $white;
        letter-spacing: 1px;
        line-height: 1.5;
        text-align: left;
        text-transform: uppercase;

        &--gold {
            // typography
            color: $gold;
            font-weight: 700;
            letter-spacing: 1.5px;
        }
    }

    &__text {
        // typography
        color: $white;
        font-family: $mainFont;
        font-size: 1.25rem;
        line-height: 1.5;

        @include atTabletsPortrait {
            // typography
            font-size: 1.125rem;
            line-height: 1.75;
        }

        @include atTabletsLandscape {
            // box model
            margin-bottom: 0;
        }

        @include atDesktopLarge {
            // typography
            font-size: 1.25rem;
        }
    }

    &__contacts {
        // typography
        text-align: right;

        @include atDesktop {
            // typography
            text-align: left;
        }
    }

    &__features {
        // box model
        border-top: 1px solid $gold;
        margin-left: -60px;
        margin-top: 40px;
        padding-left: 60px;
        padding-top: 10px;
        
        // typography
        text-align: center;
        
        @include atDesktop {
            // box model
            max-width: 760px;
        }
    }

    &__address {
        // box model
        margin: 0;

        // typography
        color: $white;
        font-family: $mainFont;
        font-size: 1.125rem;
        line-height: 1.5;
    }

    &__phone {
        // box model
        margin: 0;
        // margin-left: -0.5em;

        // typography
        color: $white;
        font-family: $mainFont;
        font-size: 1.125rem;
        line-height: 1.5;

        a {
            // typography
            color: $white;
            text-decoration: none;
        }

        strong {
            // typography
            color: $gold;
        }
    }
}