.hero-aside {
    @include atTabletsPortrait {
        // positioning
        // non-fixed
        position: absolute;
        left: -160px;
        top: -80px;
        // fixed
        position: fixed;
        top: 0;
        left: 0;
        z-index: 11;

        // box model
        width: 280px;
        height: 100vh;
        height: calc(100% + 80px);

        // visual
        background-color: $black;
        box-shadow: 5px 0 20px 0 rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease-out;

        &--hidden {
            // positioning
            left: -160px;

            @include atDesktop {
                // positioning
                left: -280px;
            }

            .hero-aside__wrapper {
                // visual
                opacity: 0;
            }
        }
    }

    @include atDesktop {
        // box model
        width: 30%;
        width: 360px;
    }

    @include atDesktopLarge {
        // box model
        width: 30%;
        width: 430px;
    }

    &__logo {
        // box model
        display: none;

        @include atTabletsPortrait {
            // box model
            display: block;
            margin: 0 auto;
            padding: 20px 0;
            width: 130px;
            
            img {
                // box model
                width: 100%;
            }
        }
        
        @include atTabletsLandscape {
            // box model
            width: 100px;
            margin: 0 auto;
        }

        @include atDesktop {
            // positioning
            position: absolute;
            left: 40px;
            top: 0;
        }

        @include atDesktopLarge {
            // positioning
            top: 20px;

            // box model
            width: calc(30vw - 320px);
            width: 120px;
        }
    }

    &__wrapper {
        @include atTabletsPortrait {
            // positioning
            position: relative;

            // box model
            margin-left: 25px;
            padding: 25px;

            // visual
            border: 19px solid #4d4d4d;
            border-right: none;
            transition: all 0.3s ease-out;

            &::before {
                content: "";

                // positioning
                position: absolute;
                top: -10px;
                left: -10px;
        
                // box model
                height: calc(100% + 20px);
                width: calc(100% + 10px);
        
                // visual
                border: 1px solid $white;
                border-right: none;
                pointer-events: none;
            }
        }

        @include atTabletsLandscape {
            // box model
            padding: 30px;
            padding-left: 40px;
            padding-right: 20px;
        }

        @include atDesktop {
            // positioning
            position: absolute;
            right: 0;
            top: 140px;

            // box model
            width: 250px;
        }

        @include atDesktopLarge {
            // positioning
            top: 120px;
        }
    }

    &__title {
        // box model
        margin-top: 10px;
        margin-bottom: 40px;
        
        // typography
        color: $white;
        font-family: $titleFont;
        font-size: 1.5rem;
        font-weight: 400;
        font-variant: small-caps;
        line-height: 1.25;
        letter-spacing: 1px;
        text-align: right;

        @include atTabletsPortrait {
            // box model
            margin-bottom: 120px;

            // typography
            font-size: 2rem;
            text-align: left;
        }

        @include atTabletsLandscape {
            // box model
            margin-bottom: 60px;
        }

        @include atDesktop {
            // typography
            font-size: 2.5rem;
        }

        @include atDesktopLarge {
            // box model
            margin-bottom: 70px;
        }
    }

    &__footnote {
        // box model
        display: none;

        @include atTabletsPortrait {
            // box model
            display: block;
        }
    }

    &__subtitle {
        // box model
        margin-bottom: 0;
        margin-bottom: 20px;

        // typography
        color: $white;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        text-transform: uppercase;
    }

    &__description {
        // box model
        margin-top: 0;

        // typography
        color: $white;
        font-variant: small-caps;
        text-align: left;
    }
}