.hero-form {
    // positioning
    position: relative;

    // box model
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 25px;

    // visual
    background-color: rgba($black, 0.7);
    border: 19px solid $white;
    border-left: none;
    
    @include atTabletsPortrait {
        // box model
        padding: 0;

        // visual
        border: none;
        background-color: transparent;
    }
    
    &::before {
        content: "";
        
        // positioning
        position: absolute;
        top: -9px;
        left: 0;
        
        // box model
        height: calc(100% + 19px);
        width: calc(100% + 10px);
        
        // visual
        border: 1px solid $gold;
        border-left: none;
        
        @include atTabletsPortrait {
            // box model
            display: none;
        }
    }
    
    &__header {
        // typography
        font-size: 0;
        // border: 1px solid red;

        @include atTabletsPortrait {
            // box model
            // width: calc(100% + 40px);
        }

        @include atDesktop {
            // box model
            margin-bottom: 60px;
        }
    }
    
    &__wrapper {
        @include atTabletsPortrait {
            // positioning
            position: relative;

            // box model
            padding: 40px 25px;

            // visual
            background-color: rgba($black, 0.7);
            border: 19px solid $white;
            border-left: none;

            &::before {
                content: "";
                
                // positioning
                position: absolute;
                top: -9px;
                left: 0;
                
                // box model
                height: calc(100% + 19px);
                width: calc(100% + 10px);
                
                // visual
                border: 1px solid $gold;
                border-left: none;
            }
        }
    }
    
    &__title {
        // box model
        margin: 0;
        padding-bottom: 5px;

        // typography
        color: $white;
        font-family: $titleFont;
        font-size: 1.4rem;
        font-variant: small-caps;
        font-weight: 400;
        line-height: 1.25;
        text-align: right;
        
        @include atTabletsPortrait {
            // box model
            display: inline-block;
            vertical-align: bottom;
            width: 50%;
            padding-left: 25px;
            margin-bottom: 20px;

            // typography
            font-size: 1.5rem;
            text-align: left;
            // white-space: nowrap;
        }
        
        @include atDesktop {
            // typography
            font-size: 2.5rem;
        }
    }
    
    &__subtitle {
        // box model
        margin-top: 0;
        margin-bottom: 20px;
        padding-bottom: 5px;

        // typography
        color: $white;
        font-family: $mainFont;
        font-size: 0.85rem;
        font-weight: 100;
        letter-spacing: 1px;
        line-height: 1.65;
        text-align: right;
        text-transform: uppercase;

        @include atTabletsPortrait {
            // box model
            display: inline-block;
            vertical-align: bottom;
            width: 50%;
            margin-bottom: 20px;

            // typography
            font-size: 1rem;
        }

        @include atDesktop {
            // typography
            font-size: 1.5rem;
        }
    }

    &__form {
        // typography
        text-align: center;

        @include atTabletsPortrait {
            // typography
            text-align: right;
        }

        @include atDesktop {
            // box model
            display: flex;
            justify-content: space-around;
            justify-content: space-between;
            justify-content: center;
        }
    }

    &__input {
        // positioning
        position: relative;
        z-index: 2;

        // box model
        width: 100%;
        margin-bottom: 15px;
        padding: 10px;

        // typography
        font-size: 0.875rem;
        font-variant: small-caps;

        // visual
        border: none;
        border: 1px solid $white;
        border-radius: 5px;
        background-color: transparent;

        @include atTabletsPortrait {
            // box model
            margin-bottom: 25px;
            padding: 12px 25px;

            // typography
            font-size: 1.25rem;
        }

        @include atDesktop {
            // box model
            display: inline-block;
            vertical-align: top;
            width: 24%;
            margin: 0 10px;
            margin-bottom: 0;

            // typography
            font-size: 1rem;
        }
    }

    &__button {
        // positioning
        position: relative;
        z-index: 2;

        // box model
        width: 100%;
        margin-bottom: 20px;
        margin-top: 30px;
        padding: 12px;

        // typography
        color: $white;
        font-family: $mainFont;
        font-size: 0.875rem;
        font-weight: 500;
        text-transform: uppercase;
        
        // visual
        background-color: $gold;
        border: none;
        border-radius: 5px;

        @include atTabletsPortrait {
            // box model
            width: auto;
            display: inline-block;
            padding: 12px 50px;

            // typography
            font-size: 1.25rem;
            font-weight: 400;
        }

        @include atDesktop {
            // box model
            display: inline-block;
            vertical-align: top;
            margin: 0 10px;
            margin-top: 0;

            // typography
            font-size: 1rem;
        }
    }

    &__warning {
        // typography
        color: $white;
        font-size: 0.875rem;
        font-variant: small-caps;
        text-align: right;

        @include atTabletsPortrait {
            // typography
            font-size: 1rem;
        }

        a {
            // typography
            color: $white;
            font-weight: 700;
        }
    }
}