.hero-course {
    // positioning
    position: relative;

    @include atTabletsLandscape {
        // box model
        padding-top: 20px;
    }

    @include atDesktop {
        // box model
        padding: 0;
    }

    &::after {
        content: "";

        // box model
        display: table;
        width: 100%;
        clear: both;
    }
    
    &::before {
        @include atDesktop {
            content: "";
    
            // positioning
            position: absolute;
            left: 7px;
            top: 7px;
            z-index: 2;
    
            // box model
            height: calc(100% - 14px);
            width: calc(100% - 14px);
            border: 1px solid $gold;
    
            // visual
            user-select: none;
            pointer-events: none;
        }
    }

    &__main {
        // positioning
        position: relative;

        // box model
        margin: 0 -7px;
        padding: 15px;

        // visual
        background-color: $white;

        @include atDesktop {
            // box model
            float: left;
            margin: 0;
            width: 50%;
        }

        &::before {
            content: "";
    
            // positioning
            position: absolute;
            left: 7px;
            top: 7px;
    
            // box model
            height: calc(100% - 14px);
            width: calc(100% - 14px);
            border: 1px solid $gold;
    
            // visual
            user-select: none;
            pointer-events: none;

            @include atDesktop {
                // box model
                display: none;
            }
        }
    }

    &__header {
        // positioning
        position: relative;
    }

    &__image {
        // box model
        height: 220px;
        
                    // visual
                    overflow: hidden;

        // typography
        font-size: 0;

        @include atTabletsLandscape {
            // box model
            height: 280px;
        }

        @include atDesktop {
            // box model
            width: calc(200% + 30px);
        }
        
        img {
            // box model
            // max-height: 100%;
            min-width: 100%;
            max-width: 100%;
            object-fit: contain;
            object-position: 50% 50%;
        }
    }

    &__ribbons {
        // positioning
        position: absolute;
        // top: 10px;
        // bottom: 10px;
        top: 10px;
        left: 0;

        // typography
        font-size: 0;
    }

    &__ribbon {
        // positioning
        position: relative;

        // box model
        width: 110px;
        margin: 0;
        margin-bottom: 8px;
        padding: 6px;
        padding-left: 10px;

        // typography
        color: $white;
        font-size: 0.7rem;
        font-weight: 700;
        line-height: 1.25;
        text-transform: uppercase;

        @include atTabletsLandscape {
            // box model
            width: 130px;

            // typography
            font-size: 0.85rem;

        }

        &::before {
            content: "";

            // positioning
            position: absolute;
            top: 0;
            right: -10px;

            // box model
            height: 50%;
            width: 10px;
            
            // visual
            background-image: linear-gradient(to right top, $white 0, $white 50%, transparent 50%, transparent 100%);
        }
        
        &::after {
            content: "";

            // positioning
            position: absolute;
            bottom: 0;
            right: -10px;

            // box model
            height: 50%;
            width: 10px;
            
            // visual
            background-image: linear-gradient(to right bottom, $white 0, $white 50%, transparent 50%, transparent 100%);
        }

        &--red {
            // visual
            background-color: $red;

            &::before {
                background-image: linear-gradient(to right top, $red 0, $red 50%, transparent 50%, transparent 100%);
            }

            &::after {
                background-image: linear-gradient(to right bottom, $red 0, $red 50%, transparent 50%, transparent 100%);
            }
        }
        
        &--blue {
            // visual
            background-color: $blue;

            &::before {
                background-image: linear-gradient(to right top, $blue 0, $blue 50%, transparent 50%, transparent 100%);
            }

            &::after {
                background-image: linear-gradient(to right bottom, $blue 0, $blue 50%, transparent 50%, transparent 100%);
            }
        }
    }

    &__short-info {
        // box model
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;

        // typography
        font-size: 0;
    }

    &__info-block {
        // positioning
        position: relative;

        // box model
        padding-left: 50px;
        padding-right: 15px;
    }

    &__info-icon {
        // positioning
        position: absolute;
        left: 7px;
        top: 15px;

        // box model
        height: 30px;
        width: 30px;

        img {
            // box model
            max-height: 100%;
            max-width: 100%;
        }
    }

    &__info-text {
        // box model
        margin: 0;
        padding: 8px;

        // typography
        font-size: 0.9rem;
        line-height: 1.5;
        text-align: left;

        // visual
        border-bottom: 1px solid $gold;

        &--last {
            // box model
            padding-bottom: 0;

            // visual
            border-bottom: none;
        }
    }

    &__price {
        // box model
        padding-top: 30px;

        // typography
        text-align: center;
    }

    &__price-title {
        // box model
        margin: 0;
        padding: 0;

        // typography
        font-size: 1rem;
        font-weight: 400;
    }

    &__price-value {
        // box model
        margin: 0;
        padding: 0;

        // typography
        font-weight: 700;
        font-size: 3rem;
    }

    &__detailed {
        // box model
        padding: 20px 0;

        // typography
        color: $white;
        text-align: left;

        @include atDesktop {
            // box model
            float: right;
            width: 50%;
            padding: 0 30px;
            padding-top: 300px;
        }

        ol {
            // box model
            margin: 0;
            padding: 0;

            // list
            list-style-position: inside;
        }

        li {
            // box model
            margin-bottom: 1em;

            // typography
            line-height: 1.5;
        }

        p {
            // typography
            line-height: 1.5;
        }
    }

    &__heading {
        // box model
        margin: 0;
        padding: 20px 0;

        // typography
        font-family: $titleFont;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;
    }
}