.hero {
    // positioning
    position: relative;

    // box model
    padding: 30px 25px;
    padding-bottom: 45px;

    // visual
    background-color: $blue;
    overflow: hidden;
    
    // visual
    background-color: $dark;
    background-image: url("./img/gradient.jpg");
    background-size: cover;
    background-position: center center;
    
    @include atTablet {
        // box model
        padding: 60px;
        padding-bottom: 110px;
    }

    @include atDesktopS {
        // box model
        display: flex;
        justify-content: space-between;
        flex-shrink: 0;
        
        padding-bottom: 110px;
        min-height: calc(100vh - 10px);
        max-height: 600px;
        
        // visual
        background-image: url("./img/hero-bg.jpg");
        background-position: center top;
    }
    
    @include atDesktopM {
        // box model
        max-height: 720px;

        // visual
        background-attachment: fixed;
    }
    
    @include atDesktopL {
        // box model
        padding: 60px 80px;
        padding-bottom: 100px;
        // height: calc(100vh - 10px);
        min-height: 760px;
        max-height: inherit;
    }

    @include atFullHD {
        // box model
        padding: 60px 100px;
        padding-bottom: 100px;
    }

    &::after {
        content: "";

        // positioning
        position: absolute;
        bottom: -1px;
        left: 0;
        z-index: 2;

        // box model
        height: 32px;
        width: 100%;

        // visual
        background-image: url("./img/deco-b.svg");
        background-size: 80px;
        background-repeat: repeat-x;
        background-position: -40px bottom;
    }

    &--inner {
        @include atTablet {
            // visual
            background-size: cover;
            background-attachment: unset;
        }
        
        @include atDesktopS {
            // visual
            background-image: url("./img/hero-inner.jpg");
        }

        @include atDesktopM {
            // box model
            height: auto;
            min-height: auto;
            // max-height: auto;
        }

        @include atDesktopL {
            // box model
            // max-height: auto;
        }
    }

    &--course {
        // visual
        background-position: center top;
        background-size: cover;
        
        @include atDesktopS {
            // visual
            background-image: url("./img/features-bg.jpg");
        }

        @include atDesktopL {
            // box model
            min-height: 860px;
        }
    }

    &--gallery {
        @include atDesktopS {
            // box model
            // dirty hack, I still have no idea how it works
            height: 400px;
            min-height: 100px;

            // visual
            background-image: url("./img/hero-inner.jpg");
        }
    }

    &--masters {

    }

    &--models {
        // visual
        background-image: url("./img/models-bg.jpg");
        background-position: center top;
        background-size: cover;
    }
}

.hero__header {
    // border: 1px solid red;
    @include atDesktopS {
        // box model
        width: 100%;
        // padding-right: 30px;
    }
}

.hero__events {
    // box model
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    // overflow: hidden;
}


.hero__slider {
    // border: 1px solid red;
    @include atDesktopS {
        // box model
        width: 50%;
        padding-left: 30px;
    }
}

.hero__aside {
    // box model
    padding: 15px 0;
    // margin-top: 40px;

    @include atDesktopM {
        // box model
        // border: 1px solid red;
        // display: flex;
        width: calc(50% - 60px);
        float: right;
        margin-top: -20px;
    }

    @include atDesktopL {
        // box model
        width: calc(40% - 60px);
    }
}

.hero__content {
    // box model
    padding: 0;

    @include atDesktopM {
        // box model
        width: 50%;
        float: left;
    }

    @include atDesktopL {
        // box model
        width: 60%;
    }
    
    &::after {
        content: "";

        // box model
        display: table;
        width: 100%;
        clear: both;
    }
}

.hero__form {
    // box model
    margin-bottom: 40px;
}

.hero__icon {
    // box model
    width: 3rem;
    margin: 0 auto;
    margin-bottom: 20px;

    @include atTablet {
        // box model
        margin-bottom: 30px;
    }

    @include atDesktopM {
        // box model
        width: 4rem;
        margin-bottom: 60px;
    }

    img {
        // box model
        width: 100%;
    }
}

.hero__logo {
    // box model
    width: 80px;
    padding: 0;
    padding-bottom: 25px;

    @include atTablet {
        // box model
        display: none;
    }
    
    img {
        // box model
        width: 100%;
    }
}