.hero-form {
    // positioning
    position: relative;

    // box model
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 330px;
    padding: 30px 20px;

    // visual
    background-color: $white;

    @include atTabletsPortrait {
        // box model
        padding: 40px;
    }

    @include atDesktop {
        // box model
        padding: 60px;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        
    }

    &::before {
        content: "";

        // positioning
        position: absolute;
        left: 8px;
        top: 8px;

        // box model
        height: calc(100% - 16px);
        width: calc(100% - 16px);

        // visual
        border: 1px solid $blue;

        @include atDesktop {
            // visual
            border: 2px solid $blue;
        }
    }

    &__header {
        @include atDesktop {
            // box model
            margin-bottom: 60px;
        }
    }

    &__title {
        // box model
        margin: 0;
        padding-bottom: 5px;

        // typography
        color: $blue;
        font-family: $titleFont;
        font-size: 1.25rem;
        line-height: 1.25;
        text-align: center;
        
        @include atTabletsPortrait {
            // typography
            font-size: 1.5rem;
            white-space: nowrap;
        }
        
        @include atDesktop {
            // typography
            font-size: 2.5rem;
            font-variant: small-caps;
        }
    }
    
    &__subtitle {
        // box model
        margin-top: 0;
        margin-bottom: 20px;

        // typography
        color: $blue;
        font-family: $titleFont;
        font-size: 0.85rem;
        text-align: center;

        @include atTabletsPortrait {
            // typography
            font-size: 1.25rem;
        }

        @include atDesktop {
            // typography
            font-size: 1.5rem;
        }
    }

    &__form {
        // typography
        text-align: center;

        @include atDesktop {
            // box model
            display: flex;
            justify-content: space-around;
            justify-content: space-between;
            justify-content: center;
        }
    }

    &__input {
        // positioning
        position: relative;
        z-index: 2;

        // box model
        width: 100%;
        margin-bottom: 8px;
        padding: 8px;

        // typography
        font-size: 0.875rem;

        @include atDesktop {
            // box model
            display: inline-block;
            vertical-align: top;
            width: 24%;
            margin: 0 10px;
            margin-bottom: 0;

            // typography
            font-size: 1rem;
        }
    }

    &__button {
        // positioning
        position: relative;
        z-index: 2;

        // box model
        width: 100%;
        margin-top: 12px;
        padding: 10px;

        // typography
        color: $white;
        font-family: $mainFont;
        font-size: 0.875rem;
        font-weight: 500;
        text-transform: uppercase;
        
        // visual
        background-color: $blue;
        border: none;

        @include atTabletsPortrait {
            // box model
            width: auto;
            padding: 12px 30px;
        }

        @include atDesktop {
            // box model
            display: inline-block;
            vertical-align: top;
            margin: 0 10px;
            margin-top: 0;

            // typography
            font-size: 1rem;
        }
    }
}