.hero-form {
    // positioning
    position: relative;

    // box model
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 -10px;
    padding: 40px 35px;

    // visual
    background-color: rgba($black, 0.68);

    @include atTabletsPortrait {
        // box model
        padding: 60px;
    }
    
    // golden border
    &::before {
        content: "";
        
        // positioning
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1;
        
        // box model
        height: calc(100% - 20px);
        width: calc(100% - 20px);
        
        // visual
        border: 1px solid $gold;

        @include atDesktop {
            // positioning
            top: 15px;
            left: 15px;

            // box model
            height: calc(100% - 30px);
            width: calc(100% - 30px)
        }
    }
    
    &__header {
        // positioning
        position: relative;
        z-index: 2;

        // box model
        padding-bottom: 40px;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;

        // typography
        font-size: 0;

        @include atTabletsPortrait {
            // box model
            padding-bottom: 50px;
        }

        @include atDesktop {
            // box model
            padding-right: 30px;
            // width: 300px;
        }
    }
    
    &__wrapper {
        // positioning
        position: relative;
        z-index: 2;

        // box model
        padding-bottom: 40px;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;

        @include atTabletsPortrait {
            // box model
            padding-bottom: 50px;
        }
    }
    
    &__title {
        // box model
        margin: 0;
        // margin-right: -0.125em;
        margin-bottom: 0.5em;

        // typography
        color: $white;
        color: $gold;
        font-family: $titleFont;
        font-family: $mainFont;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        
        @include atTabletsPortrait {
            // typography
            font-size: 1.25rem;
        }

        @include atTabletsLandscape {
            // typography
            font-size: 1.25rem;
            letter-spacing: 0.5px;
            // text-transform: uppercase;
        }
    }
    
    &__subtitle {
        // box model
        margin: 0;
        margin-bottom: 0.5em;

        // typography
        color: $white;
        // color: $gold;
        font-family: $mainFont;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;

        @include atTabletsPortrait {
            // typography
            font-size: 1.125rem;
        }

        @include atTabletsLandscape {
            // typography
            font-size: 1.25rem;
        }
        
        @include atDesktopLarge {
            // typography
            // font-size: 1.125rem;
        }
    }

    &__form {
        // typography
        // text-align: center;
        text-align: left;

        @include atTabletsPortrait {
            // typography
            // text-align: right;
        }
    }

    &__input-group {
        // positioning
        position: relative;

        // typography
        font-size: 0;
    }

    &__error {
        // positioning
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(105%, -50%);
        z-index: 3;

        // box model
        padding: 10px;

        // typography
        color: $red;
        font-size: 0.75rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: center;
        text-transform: uppercase;

        // visual
        background-color: $white;
        border-radius: 5px;

        &::before {
            content: "";

            // positioning
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%) rotate(45deg);

            // box model
            height: 8px;
            width: 8px;

            // visual
            background-color: $white;
        }
    }

    &__input {
        // positioning
        position: relative;
        z-index: 2;

        // box model
        display: block;
        width: 100%;
        margin-bottom: 15px;
        padding: 10px;

        // typography
        color: $white;
        font-size: 0.875rem;
        font-size: 1rem;
        // font-variant: small-caps;

        // visual
        border: none;
        border: 1px solid $white;
        border-radius: 5px;
        background-color: transparent;
        transition: all 0.3s ease-out;

        &:focus {
            // visual
            border: 1px solid $gold;
            outline: none;
        }

        @include atTabletsPortrait {
            // box model
            margin-bottom: 20px;
            padding: 12px 16px;

            // typography
            font-size: 1.125rem;
        }

        @include atDesktop {
            // box model
            margin-bottom: 20px;

            // typography
            font-size: 1rem;
        }

        @include atDesktopLarge {
            // box model
            padding: 12px 25px;

            // typography
            font-size: 1.25rem;
        }
    }

    &__button {
        // positioning
        position: relative;
        z-index: 2;

        // box model
        padding: 12px;
        width: 100%;
        max-width: 100%;

        // typography
        color: $white;
        font-family: $mainFont;
        font-size: 0.875rem;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-align: center;
        text-transform: uppercase;
        
        // visual
        background-color: $gold;
        border: none;
        border-radius: 5px;

        &:hover {
            // typography
            color: $white;

            // visual
            background-color: $blue;
            cursor: pointer;
            transition: all 0.3s ease-out;
        }
        
        @include atTabletsPortrait {
            // box model
            // width: auto;
            display: inline-block;
            vertical-align: top;
            margin-top: 0;
            padding: 12px 50px;

            // typography
            font-size: 1rem;
        }

        @include atDesktop {
            // box model
            // margin-top: 20px;

            // typography
            font-size: 1rem;
        }

        @include atDesktopLarge {
            // box model
            // margin-top: 40px;

            // typography
            font-size: 1.25rem;
        }
    }

    &__warning {
        // positioning
        position: relative;
        z-index: 2;

        // box model
        width: 100%;
        max-width: 400px;
        margin: 0 auto;

        // typography
        color: $white;
        font-size: 0.7rem;
        // font-variant: small-caps;
        line-height: 1.3;
        text-align: right;
        text-transform: uppercase;

        a {
            // typography
            color: $white;
            font-weight: 700;

            &:hover {
                color: $gold;
            }
        }
    }
}