.hero-form {
    // positioning
    position: relative;

    // box model
    height: 330px;
    margin-bottom: 80px;
    padding: 30px 20px;

    // visual
    background-color: $white;

    @include atTabletsPortrait {
        // box model
        margin-bottom: 70px;
        padding: 40px;
    }

    &::before {
        content: "";

        // positioning
        position: absolute;
        left: 8px;
        top: 8px;

        // box model
        height: calc(100% - 16px);
        width: calc(100% - 16px);

        // visual
        border: 1px solid $blue;
        
    }

    &__title {
        // box model
        margin: 0;
        padding-bottom: 5px;

        // typography
        color: $blue;
        font-family: $titleFont;
        font-size: 1.25rem;
        line-height: 1.25;
        text-align: center;
        
        @include atTabletsPortrait {
            // typography
            font-size: 1.5rem;
            white-space: nowrap;
        }
    }
    
    &__subtitle {
        // box model
        margin-top: 0;
        margin-bottom: 20px;

        // typography
        color: $blue;
        font-family: $titleFont;
        font-size: 0.85rem;
        text-align: center;

        @include atTabletsPortrait {
            // typography
            font-size: 1.25rem;
        }
    }

    &__form {
        // positioning
        // position: absolute;
        // bottom: 20px;

        // typography
        text-align: center;
    }

    &__input {
        // positioning
        position: relative;
        z-index: 2;

        // box model
        width: 100%;
        margin-bottom: 8px;
        padding: 8px;

        // typography
        font-size: 0.875rem;
    }

    &__button {
        // box model
        width: 100%;
        margin-top: 12px;
        padding: 10px;

        // typography
        color: $white;
        font-family: $mainFont;
        font-size: 0.875rem;
        font-weight: 500;
        text-transform: uppercase;
        
        // visual
        background-color: $blue;
        border: none;

        @include atTabletsPortrait {
            // box model
            width: auto;
            padding: 12px 30px;
        }
    }
}