.main-nav {
    // positioning
    position: fixed;
    left: -110%;
    z-index: 12;

    // box model
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    height: 100%;
    width: 100%;
    max-width: 414px;

    // typography
    font-size: 0;

    // visual
    background-color: rgba($black, 0.95);
    transition: all 0.3s ease-out;

    @include atTabletsPortrait {
        // positioning
        position: fixed;
        left: 0;
        top: 0;

        // box model
        display: block;
        height: 100vh;
        height: 200%;
        width: 140px;

        // visual
        background-color: $black;
        box-shadow: 5px 0 20px 0 rgba(0, 0, 0, 0.5);
        visibility: visible;
        opacity: 1;

        .masson {
            // visual
            opacity: 1;
        }
    }

    
    &--shown {
        // positioning
        left: 0;

        // visual
        visibility: visible;
        opacity: 1;
    }
}

.main-nav__logo {
    // box model
    height: 140px;
    width: 80px;
    padding: 30px 0;
    margin: 20px 0;
    margin-bottom: 0;

    @include atTabletsPortrait {
        // box model
        width: 90px;
        height: auto;
        
        margin: 0 auto;
        padding: 30px 0;
        padding-top: 40px;
    }

    img {
        // box model
        height: 100%;
        width: 100%;
    }
}

.main-nav__list {
    // box model
    margin: 0;
    padding: 0;

    // visual
    list-style: none;
}

.main-nav__item {
    // positioning
    position: relative;

    @include atTabletsPortrait {
        // box model
        display: block;
        padding: 0;
    }
}

.main-nav__link {
    // box model
    display: block;
    padding: 12px;

    // typography
    color: $white;
    font-family: $mainFont;
    font-family: "Bebas Neue Book";
    font-size: 0.85rem;
    font-size: 1.125rem;
    letter-spacing: 0.1em;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    // visual
    transition: all 0.2s ease-out;
    
    @include atTabletsPortrait {
        // box model
        padding: 14px 0;
    }

    &:hover {
        // typography
        color: $gold;
    }
}

.main-nav__social {
    // box model
    display: none;

    @include atTabletsPortrait {
        // positioning
        position: absolute;
        bottom: 0;

        // box model
        display: block;
        width: 100%;
    }
}