.main-nav {
    // positioning
    position: fixed;
    left: -110%;
    z-index: 12;

    // box model
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    height: 100%;
    width: 100%;
    max-width: 414px;

    // typography
    font-size: 0;

    // visual
    background-color: rgba($black, 0.95);
    transition: all 0.3s ease-out;

    @include atTabletsPortrait {
        // positioning
        position: fixed;
        left: 0;
        top: 0;

        // box model
        display: block;
        height: 100vh;
        height: 100%;
        width: 160px;

        // visual
        background-color: $black;
        box-shadow: 5px 0 20px 0 rgba(0, 0, 0, 0.5);
        visibility: visible;
        opacity: 1;

        .masson {
            // visual
            opacity: 1;
        }
    }

    &__logo {
        // box model
        height: 160px;
        width: 100px;
        padding: 30px 0;
        margin: 20px 0;
        margin-bottom: 0;

        // @include atTabletsPortrait {
        //     // box model
        //     width: 190px;
        //     height: auto;
        //     margin: auto;
        //     margin-top: 0;
        //     padding: 60px 0;
        //     padding-bottom: 40px;
        //     padding-left: 30px;
        // }

        // @include atDesktop {
        @include atTabletsPortrait {
            // box model
            width: 190px;
            height: auto;
            
            margin: 0 auto;
            padding: 40px 0;
            padding-top: 40px;
            width: 110px;
        }

        img {
            // box model
            height: 100%;
            width: 100%;
        }
    }

    &__list {
        // box model
        margin: 0;
        padding: 0;

        // visual
        list-style: none;
    }

    &__item {
        // positioning
        position: relative;

        @include atTabletsPortrait {
            // box model
            display: block;
            padding: 0;
        }

        &::after {
            // content: "";

            // positioning
            position: absolute;
            bottom: -2px;
            left: 50%;
            transform: translateX(-50%) translateX(-2px) rotate(45deg);

            // box model
            height: 5px;
            width: 5px;

            // visual
            background-color: #cccccc;
            background-color: $white;

        }

        &:last-of-type {
            &::after {
                // box model
                display: none;
            }
        }
    }

    &__link {
        // box model
        display: block;
        padding: 15px;

        // typography
        color: $white;
        font-family: $titleFont;
        font-size: 1rem;
        letter-spacing: 2px;
        line-height: 1.5;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;

        // visual
        transition: all 0.2s ease-out;

        &:hover {
            // typography
            color: $gold;
        }

        @include atTabletsPortrait {
            // box model
            padding: 10px 0;

            // typography
            color: $white;
            font-size: 0.8rem;
            font-family: $mainFont;
            line-height: 30px;
        }
    }

    &__social {
        // box model
        display: none;

        @include atTabletsPortrait {
            // positioning
            position: absolute;
            bottom: 0;

            // box model
            display: block;
            width: 100%;
        }
    }

    &--shown {
        // positioning
        left: 0;

        // visual
        visibility: visible;
        opacity: 1;
    }
}