.main-nav {
    // positioning
    position: fixed;
    left: -110%;
    z-index: 12;

    // box model
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    height: 100%;
    width: 100%;
    max-width: 414px;

    // typography
    font-size: 0;

    // visual
    background-color: rgba($black, 0.95);
    transition: all 0.3s ease-out;

    @include atTabletsPortrait {
        // box model
        justify-content: flex-start;
    }

    @include atDesktop {
        // positioning
        position: absolute;
        left: 220px;
        // right: 220px;
        top: 0;

        // box model
        display: block;
        height: auto;
        width: auto;
        max-width: none;

        // visual
        background-color: $white;
        background-color: transparent;
    }

    @include atDesktopLarge {
        // positioning
        left: 300px;
    }

    &__logo {
        // box model
        height: 160px;
        width: 100px;
        padding: 30px 0;
        margin: 20px 0;
        margin-bottom: 0;

        @include atDesktop {
            // box model
            display: none;
            width: 100%;
        }

        img {
            // box model
            height: 100%;
            width: 100%;
        }
    }

    ul {
        // box model
        margin: 0;
        padding: 0;

        // visual
        list-style: none;
    }

    li {
        // positioning
        position: relative;

        @include atDesktop {
            // box model
            display: inline-block;
            vertical-align: middle;
        }

        &::after {
            // content: "";

            // positioning
            position: absolute;
            bottom: -2px;
            left: 50%;
            transform: translateX(-50%) translateX(-2px) rotate(45deg);

            // box model
            height: 5px;
            width: 5px;

            // visual
            background-color: #cccccc;
            background-color: $white;

        }

        &:last-of-type {
            &::after {
                // box model
                display: none;
            }
        }
    }

    a {
        // box model
        display: block;
        padding: 15px;

        // typography
        color: $white;
        // color: $gold;
        font-family: $titleFont;
        // font-family: $mainFont;
        // font-weight: 700;
        font-size: 1rem;
        letter-spacing: 2px;
        line-height: 1.5;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;

        @include atDesktop {
            // box model
            height: 100%;

            // typography
            color: $dark;
            font-size: 0.875rem;
            line-height: 53px;
        }

        @include atDesktopLarge {
            // box model
            padding: 15px 25px;

            // typography
            font-size: 1rem;
        }
    }

    &__social {
        // box model
        display: none;
    }

    &--shown {
        // positioning
        left: 0;

        // visual
        visibility: visible;
        opacity: 1;
    }

    &--side-menu {
        // positioning
        position: fixed;
        left: 0;
        top: 0;

        // box model
        height: 120vh;
        height: 100%;
        width: 160px;

        // visual
        background-color: $black;
        box-shadow: 5px 0 20px 0 rgba(0, 0, 0, 0.5);
        visibility: visible;
        opacity: 1;

        li {
            // box model
            display: block;
        }

        a {
            // typography
            color: $white;
            font-size: 0.9rem;
            text-align: center;
            line-height: 30px;
        }

        .main-nav__logo {
            // box model
            display: block;
        }

        .main-nav__social {
            // positioning
            position: absolute;
            bottom: 0;

            // box model
            display: block;
            width: 100%;
        }

        .masson {
            // visual
            opacity: 1;
        }
    }
}