.masson {
    // positioning
    position: absolute;
    bottom: 30px;

    // box model
    width: 100%;

    // typography
    text-align: center;

    // visual
    opacity: 0;
    transition: all 0.3s ease-out;

    &__logo {
        // box model
        margin: 0 auto;
        width: 60px;

        img {
            // box model
            width: 100%;
        }
    }

    &__social {
        // typography
        text-align: center;

        a {
            // box model
            display: inline-block;
            vertical-align: top;
            padding: 10px;

            // typography
            color: $white;
            text-decoration: none;

            // visual
            transition: all 0.2s ease-out;

            &:hover {
                // typography
                color: $gold;
                color: $blue;
            }
        }
    }

    &__tag {
        // positioning
        position: relative;

        // box model
        display: inline-block;
        vertical-align: top;

        // typography
        color: $gold;
        font-size: 0.875rem;
        font-weight: 700;
        text-align: center;
        text-decoration: none;

        // visual
        transition: 0.3s ease-in-out;

        em {
            // box model
            padding-right: 5px;

            // typography
            color: $white;
            font-style: normal;
            text-decoration: underline;
            
            // visual
            transition: all 0.3s ease-out;
        }

        &:hover {
            // typography
            color: $blue;

            em {
                // typography
                color: $blue;
            }
        }
    }

    &--hero {
        // box model
        width: 160px;

        // visual
        opacity: 1;

        @include atTabletsLandscape {
            .masson__logo {
                // box model
                width: 80px;

                // visual
                opacity: 0.75;
            }

            .masson__social a {
                // typography
                font-size: 1.125rem;
            }
        }
    }
}