.member {
    // positioning
    position: relative;

    // box model
    padding: 50px 20px;

    // visual
    background-color: $blue;
    background-image: url("./img/gradient.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @include atDesktop {
        // box model
        width: 800px;
    }

    &::before {
        content: "";

        // positioning
        position: absolute;
        top: -5px;
        left: 0;
        z-index: 6;

        // box model
        height: 32px;
        width: 100%;

        // visual
        background-image: url("./img/deco-b-r.svg");
        background-size: 80px;
        background-repeat: repeat-x;
        background-position: -40px top;

        @include atDesktop {
            // box model
            display: none;
        }
    }

    &::after {
        content: "";

        // positioning
        position: absolute;
        bottom: 0px;
        left: 0;
        z-index: 2;

        // box model
        height: 32px;
        width: 100%;

        // visual
        background-image: url("./img/deco-b.svg");
        background-size: 80px;
        background-repeat: repeat-x;
        background-position: center bottom;

        @include atDesktop {
            // box model
            display: none;
        }
    }

    &__info {
        // box model
        border: 1px solid $gold;
        height: 100%;
    }

    &__header {
        // box model
        padding: 25px;
        padding-bottom: 0;
    }

    &__badge {
        // positioning
        position: absolute;
        top: 75px;
        right: 0;

        // box model
        padding: 15px 20px;

        // typography
        color: $white;
        font-weight: 700px;
        letter-spacing: 2px;
        text-transform: uppercase;

        // visual
        background-color: $gold;

        &::before {
            content: "";

            // positioning
            position: absolute;
            top: 0;
            left: -20px;
            
            // box model
            height: 50%;
            width: 20px;
            
            // visual
            background-image: linear-gradient(to left top, #d5a353 0, #d5a353 50%, transparent 50%, transparent 100%);
        }

        &::after {
            content: "";

            // positioning
            position: absolute;
            bottom: 0;
            left: -20px;

            // box model
            height: 50%;
            width: 20px;

            // visual
            background-image: linear-gradient(to left bottom, #d5a353 0, #d5a353 50%, transparent 50%, transparent 100%);
        }
    }
    

    &__name {
        // box model
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
        padding-right: 80px;

        // typography
        color: $white;
        font-family: $titleFont;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 1.125;
        font-size: 2rem;
    }

    &__subtitle {
        // box model
        margin: 0;
        margin-bottom: 30px;

        // typography
        color: $gold;
        font-size: 1.125rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &__description {
        // box model
        margin: 0;
        margin-bottom: 30px;

        // typography
        color: $white;
        font-size: 1rem;
        line-height: 1.75;

        @include atDesktop {
            width: 400px;
        }
    }

    &__exp {
        // box model
        margin-bottom: 30px;
        display: block;

        // typography
        color: $white;
        font-size: 1.5rem;
        letter-spacing: 1px;
        text-transform: uppercase;

        span {
            // typography
            font-size: 1rem;
            font-weight: 400;
        }
    }

    &__footer {
        // display: flex;
        // flex-direction: column;

        // box model
        padding: 25px;
        border-top: 1px solid $gold;
    }

    &__feature {
        // box model
        margin-top: 10px;
        width: 250px;

        // visual
        background-size: contain;
        background-image: url("./img/laurel.png");
        background-repeat: no-repeat;
    }

    &__achivements-list {
        // box model
        width: 175px;
        margin: 0;
        padding: 10px 0;

        // visual
        list-style: none;

        @include atDesktop {
            // box model
            width: 250px;

            // typography
            text-align: center;
        }
    }

    &__achivements-item {
        // box model
        margin-bottom: 10px;

        // typography
        color: $white;
        line-height: 1.5;
    }

    &__more {
        // positioning
        position: relative;
        z-index: 2;

        // box model
        margin-top: 200px;
    }

    &__photo {
        // positioning
        position: absolute;
        bottom: 120px;
        right: -10px;
        z-index: 1;

        // box model
        width: 250px;

        @include atTabletsPortrait {
            // box model
            width: 325px;
        }
        

        @include atDesktop {
            // positioning
            right: -90px;
            bottom: 0;

            // box model
            width: 600px;

        }

        img {
            width: 100%;
        }

    }
}