.menu-icon {
    // positioning
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;

    // box model
    height: 39px;
    width: 39px;

    // visual
    background-color: rgba($white, 0.85);
    background-color: $white;
    border-radius: 50%;
    cursor: pointer;

    @include atTabletsPortrait {
        // positioning
        right: 30px;
    }

    @include atDesktop {
        // box model
        display: none;
    }
    
    &::before {
        content: "";

        // positioning
        position: absolute;
        left: 7px;
        top: 11px;
        transform-origin: 0 50%;
        
        // box model
        height: 3px;
        width: 25px;
        
        // visual
        background-color: $darkGold;
        background-color: $gold;
        transition: all 0.3s ease-out;
    }

    &--inner {
        @include atTabletsPortrait {
            // box model
            display: none;
        }
    }
    
    &__middle {
        // positioning
        position: absolute;
        left: 7px;
        top: 18px;
        
        // box model
        height: 3px;
        width: 25px;
        
        // visual
        background-color: $darkGold;
        background-color: $gold;
        transition: all 0.3s ease-out;
    }
    
    &::after {
        content: "";
        
        // positioning
        position: absolute;
        left: 7px;
        top: 25px;
        transform-origin: 0 50%;

        // box model
        height: 3px;
        width: 25px;

        // visual
        background-color: $darkGold;
        background-color: $gold;
        transition: all 0.3s ease-out;
    }

    &--close-x {
        &::before {
            // positioning
            left: 11px;
            top: 9px;
            transform: rotate(45deg);

            // visual
            background-color: $red;
        }

        .menu-icon__middle {
            // positioning
            left: 11px;

            // box model
            width: 0;

            // visual
            opacity: 0;
        }

        &::after {
            // positioning
            left: 11px;
            top: 27px;
            transform: rotate(-45deg);

            // visual
            background-color: $red;
        }
    }
}