.menu-icon {
    // positioning
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;

    // box model
    height: 44px;
    width: 44px;

    // visual
    background-color: rgba($dark, 0.5);
    border-radius: 50%;
    // background-color: red;

    @include atTabletsLandscape {
        // box model
        display: none;
    }
    
    &::before {
        content: "";

        // positioning
        position: absolute;
        left: 7px;
        top: 13px;
        transform-origin: 0 50%;
        
        // box model
        height: 3px;
        width: 30px;
        
        // visual
        background-color: $white;
        transition: all 0.3s ease-out;
    }
    
    &__middle {
        // positioning
        position: absolute;
        left: 7px;
        top: 21px;
        
        // box model
        height: 3px;
        width: 30px;
        
        // visual
        background-color: $white;
        transition: all 0.3s ease-out;
    }
    
    &::after {
        content: "";
        
        // positioning
        position: absolute;
        left: 7px;
        top: 29px;
        transform-origin: 0 50%;

        // box model
        height: 3px;
        width: 30px;

        // visual
        background-color: $white;
        transition: all 0.3s ease-out;
    }

    &--close-x {
        &::before {
            // positioning
            left: 11px;
            top: 10px;
            transform: rotate(45deg);

            // visual
            background-color: $red;
        }

        .menu-icon__middle {
            // positioning
            left: 11px;

            // box model
            width: 0;

            // visual
            opacity: 0;
        }

        &::after {
            // positioning
            left: 11px;
            top: 31px;
            transform: rotate(-45deg);

            // visual
            background-color: $red;
        }
    }
}