.message-404 {
    // box model
    padding: 25px;

    // typography
    text-align: center;
    
    &__404 {
        // box model
        margin: 0;
        padding: 0;
        
        // typography
        color: $white;
        font-weight: 400;
        font-size: 130px;
        letter-spacing: 0.125em;
        text-align: center;
        
        // animation
        animation-name: glitch-anim-text;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

        @include atDesktop {
            // typography
            font-size: 200px;
        }

        @include atDesktopLarge {
            // typography
            font-size: 260px;
        }
    }

    &__title {
        // box model
        margin-top: 0;

        // typography
        color: $white;
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;

        @include atDesktop {
            // box model
            margin: 0;
            padding-bottom: 20px;

            // typography
            font-size: 2rem;
        }

        @include atDesktopLarge {
            // typography
            font-size: 3rem;
        }
    }

    &__text {
        // typography
        color: $white;
        font-size: 0.9rem;
        // font-weight: 700;
        letter-spacing: 0.5px;
        line-height: 1.5;
        text-transform: uppercase;

        @include atDesktop {
            // box model
            margin: 0;
            padding-bottom: 26px;

            // typography
            font-size: 1.25rem;
            letter-spacing: 1px;
        }
    }
}


@keyframes glitch-anim-text {
    0% {
        transform: translate3d(-10, 0, 0) scale3d(-1, -1, 1);
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
        clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    }
    2% {
        -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
        clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    }
    4% {
        -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
        clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    }
    5% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
        clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    }
    6% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
        clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    }
    7% {
        -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }
    8% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
        clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    }
    9% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
        clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    }
    9.9% {
        transform: translate3d(-10, 0, 0) scale3d(-1, -1, 1);
    }
    10%,
    100% {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}