.page-header {
    // positioning
    position: relative;

    // visual
    background-color: $white;
    transition: all 0.3s ease-out;

    &__phone {
        // box model
        padding-right: 70px;

        // typography
        font-family: $titleFont;
        font-size: 0.9rem;
        font-size: 1rem;
        font-weight: 700;
        line-height: 80px;
        text-align: right;

        @include atTabletsPortrait {
            // box model
            padding-right: 94px;

            // typography
            font-size: 1.25rem;
        }

        @include atDesktop {
            // box model
            padding-right: 54px;
        }

        &--inner {
            @include atTabletsPortrait {
                // box model
                margin-right: -35px;
            }

            @include atDesktop {
                // box model
                margin-right: 0;
            }
        }

        a {
            // typography
            color: $dark;
            text-decoration: none;

            // visual
            transition: all 0.2s ease-out;
        
            &:hover {
                // typography
                color: $gold;
            }
        }
    }
}