.page-header {
    // positioning
    position: fixed;
    top: 0;
    left: 0;
    left: -100%;
    z-index: 999;

    // box model
    height: 100vh;
    width: 400px;
    max-width: 100%;
    padding: 25px;

    // visual
    background-color: $dark;
    background-color: #000000;
    transition: all 0.3s ease-out;

    @include atTabletsLandscape {
        // positioning
        left: 0;
        
        // box model
        width: 200px;

        // visual
        visibility: visible;
        opacity: 1;
    }
    
    &__logo {
        // box model
        width: 180px;
        margin: 0 auto;
        padding: 20px;
        padding-bottom: 35px;
        
        @include atTabletsLandscape {
            // box model
            width: 100%;
        }
        
        img {
            // box model
            width: 100%;
        }
    }

    &--shown {
        // positioning
        left: 0;

        // visual
        visibility: visible;
        opacity: 1;
    }
}