.page-footer {
    // positioning
    position: relative;

    // box model
    padding: 80px 25px;
    padding-bottom: 40px;

    // visual
    background-color: $dark;
    background-image: url("./img/footer-bg-s.jpg");
    background-position: center center;
    background-size: cover;

    @include atTabletsPortrait {
        // visual
        background-image: url("./img/footer-bg-l.jpg");
    }

    @include atDesktop {
        // positioning
        position: relative;
        z-index: 2;

        // box model
        padding-left: 0;
        padding-top: 60px;
    }

    &--inner {
        // box model
        padding: 25px;
        padding-bottom: 40px;

        @include atTabletsPortrait {
            // box model
            padding-top: 80px;
        }

        .page-footer__wrapper {
            border: none;

            @include atDesktop {
                // box model
                margin-right: 330px;
            }
        }
    }

    &__wrapper {
        @include atDesktop {
            // box model
            margin-right: 155px;
            margin-top: -520px;
            padding-bottom: 20px;
            padding-top: 500px;
    
            // visual
            border: 2px solid $gold;
            border-left: none;
        }
    }

    &__social {
        // box model
        margin-bottom: 20px;
        
        // typography
        text-align: center;
        
        a {
            // box model
            display: inline-block;
            vertical-align: top;
            margin: 0 5px;

            // typography
            color: $white;
            color: $blue;
            color: $gold;
            font-size: 1.5rem;
            text-decoration: none;

            // visual
            transition: all 0.3s ease-out;

            &:hover {
                // typography
                color: $white;
                color: $blue;
            }
        }
    }

    &__menu {
        // box model
        display: none;

        @include atTabletsLandscape {
            // box model
            display: block;
        }

        ul {
            // box model
            margin: 0;
            padding: 0;

            // typography
            text-align: center;

            // visual
            list-style: none;
        }

        li {
            // box model
            display: inline;
            padding: 0 10px;
            vertical-align: top;
        }

        a {
            // typography
            color: $white;
            font-size: 0.875rem;
            font-weight: 700;
            text-decoration: none;

            &:hover {
                // typography
                text-decoration: underline;
            }
        }
    }

    &__copy {
        // box model
        margin-top: 20px;

        // typography
        color: $white;
        font-size: 0.875rem;
        line-height: 1.5;
        text-align: center;
    }
}