.page-footer {
    // positioning
    position: relative;
    // z-index: 5;

    // box model
    padding: 40px 25px;

    // visual
    background-color: $dark;
    background-image: url("./img/footer-bg-s.jpg");
    background-position: center center;
    background-size: cover;

    @include atTabletsPortrait {
        // visual
        background-image: url("./img/footer-bg-l.jpg");
    }

    @include atDesktop {
        // box model
        padding-bottom: 60px;
        padding-left: 0;
    }
}

.page-footer__social {
    // box model
    margin-bottom: 20px;
    
    // typography
    text-align: center;
    
    a {
        // box model
        display: inline-block;
        vertical-align: top;
        margin: 0 5px;

        // typography
        color: $white;
        color: $blue;
        color: $gold;
        font-size: 1.5rem;
        text-decoration: none;

        // visual
        transition: all 0.3s ease-out;

        &:hover {
            // typography
            color: $white;
            color: $blue;
        }
    }
}

.page-footer__menu {
    // box model
    display: none;

    @include atTabletsLandscape {
        // box model
        display: block;
    }

    ul {
        // box model
        margin: 0;
        padding: 0;

        // typography
        text-align: center;

        // visual
        list-style: none;
    }

    li {
        // box model
        display: inline;
        padding: 0 10px;
        vertical-align: top;
    }

    a {
        // typography
        color: $white;
        font-size: 0.875rem;
        font-weight: 700;
        text-decoration: none;

        &:hover {
            // typography
            text-decoration: underline;
        }
    }
}

.page-footer__copy {
    // box model
    margin-top: 20px;

    // typography
    color: $white;
    font-size: 0.875rem;
    line-height: 1.5;
    text-align: center;
}