.popup {
    // positioning
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;

    // box model
    // display: none;
    height: 100%;
    width: 100%;

    // visual
    background-color: rgba(0, 0, 0, 0.5);
    // opacity: 0;
    // visibility: hidden;
    transition: all 0.3s ease-out;

    &--show {
        // box model
        display: block;

        // visual
        opacity: 1;
        visibility: visible;
    }
    
    &__window {
        // positioning
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        
        // box model
        height: 400px;
        max-width: 600px;
        margin: auto 20px;
        padding: 6px;
        
        // visual
        background-color: $white;
        border-radius: 7px;
        box-shadow: inset 0 0 1px 0 rgba($dark, 0.95);
        overflow: hidden;

        @include atTabletsPortrait {
            // box model
            margin: auto;
        }
    }

    &__header {
        // positioning
        position: absolute;
        left: 0;
        top: 0;

        // box model
        display: none;
        width: 100%;
        height: 140px;

        // visual
        background-color: $darkGold;
        background-image: url("./img/popup-bg.jpg");
        background-size: cover;
        box-shadow: 0 0 14px 0 rgba($dark, 0.5);

        @include atTabletsPortrait {
            // box model
            display: block;
        }
    }

    &__close {
        // positioning
        position: absolute;
        right: 10px;
        top: 10px;

        // box model
        height: 32px;
        width: 32px;

        // visual
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        cursor: pointer;
        // transition: all 0.25s ease-out;

        &::before {
            content: "";

            // positioning
            position: absolute;
            left: 15px;
            top: 6px;
            transform: rotate(45deg);

            // box model
            height: 20px;
            width: 1px;

            // visual
            background-color: $white;
            // transition: all 0.25s ease-out;
        }

        &::after {
            content: "";

            // positioning
            position: absolute;
            left: 15px;
            top: 6px;
            transform: rotate(-45deg);

            // box model
            height: 20px;
            width: 1px;

            // visual
            background-color: $white;
            // transition: all 0.25s ease-out;
        }

        &:hover {
            // visual
            background-color: rgba($white, 0.5);

            &::before,
            &::after {
                // visual
                background-color: $dark;
            }
        }
    }

    &__content {
        // box model
        padding: 30px;
        height: 100%;
        
        // visual
        border: 2px solid rgba($gold, 0.5);
        border: 1px solid $gold;
        border-radius: 5px;
        
        @include atTabletsPortrait {
            // box model
            padding-top: 150px;
        }
    }

    &__title {
        // typography
        font-weight: 400;
        text-transform: uppercase;
    }

    &__text {
        // box model
        padding-bottom: 25px;

        // typography
        line-height: 1.5;
        font-weight: 400;
    }

    &__respect {
        // typography
        color: $darkGold;
        color: $gold;
        line-height: 1.5;
        font-weight: 400;
        // font-size: 0.875rem;
    }

    &__controls {
        // positioning
        position: absolute;
        right: 30px;
        bottom: 30px;

    }

    &__accept {
        // box model
        display: inline-block;
        vertical-align: top;
        padding: 13px 30px;

        // typography
        color: $white;
        font-size: 0.875rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;

        // visual
        background-color: $gold;
        border: 1px solid $gold;
        border-radius: 5px;
        transition: all 0.25s ease-out;

        &:hover {
            // typography
            color: $gold;

            // visual
            background-color: $white;
        }
    }
}