.selling-feature {
    // box model
    display: inline-block;
    vertical-align: top;
    margin: 20px 0;
    max-width: 300px;

    // typography
    text-align: center;
    
    // visual
    background-image: url("./img/laurel.png");
    // background-size: contain;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center center;

    @include atTabletsPortrait {
        // box model
        margin: 30px;
    }

    @include atDesktop {
        // box model
        // width: 220px;
        margin: 20px;
    }

    &--light {
        .selling-feature__title {
            // typography
            color: $white;
        }

        .selling-feature__text {
            // typography
            color: $white;
        }
    }

    &__title {
        // typography
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;

        @include atDesktop {
            // typography
            font-size: 1.25rem;
            font-weight: 700;
        }
    }

    &__text {
        // typography
        font-size: 1rem;
        line-height: 1.75;

        @include atDesktop {
            // typography
            font-size: 0.875rem;
        }
    }
}