.selling-features {
    // positioning
    position: relative;

    // box model
    padding: 80px 25px;
    padding-bottom: 20px;

    // visual
    background-color: $dark;
    background-image: url("./img/features-bg.jpg");
    background-size: cover;
    background-position: center center;
    
    @include atTablet {
        // box model
        padding: 100px 60px;
        padding-bottom: 40px;
    }

    @include atDesktopS {
        // box model
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 100px 20px;
        padding-bottom: 40px;
    }
    
    @include atDesktopM {
        // box model
        padding: 100px 40px;
        padding-bottom: 40px;
    }

    @include atDesktopL {
        // box model
        padding: 120px 60px;
        padding-bottom: 60px;
    }
    
    &::before {
        content: "";

        // positioning
        position: absolute;
        top: -1px;
        left: 0;
        z-index: 2;

        // box model
        height: 32px;
        width: 100%;

        // visual
        background-image: url("./img/deco-b-r.svg");
        background-size: 80px;
        background-repeat: repeat-x;
        background-position: -40px top;
    }

    &::after {
        content: "";

        // positioning
        position: absolute;
        bottom: -1px;
        left: 0;
        z-index: 2;

        // box model
        height: 32px;
        width: 100%;

        // visual
        background-image: url("./img/deco-b.svg");
        background-size: 80px;
        background-repeat: repeat-x;
        background-position: -40px bottom;
    }
}