.service-options {
    // box model
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;

    // typography
    font-size: 0;
}

.service-options__group {
    // box model
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 33%;
    max-width: 110px;
}

.service-options__input {
    // box model
    display: none;

    &:checked + .service-options__label {
        &::after {
            // visual
            opacity: 1;
        }

        .service-options__name {
            // typography
            color: $gold;
        }
    }

}

.service-options__label {
    // positioning
    position: relative;

    // visual
    cursor: pointer;

    &::after {
        content: "";

        // positioning
        position: absolute;
        bottom: -10px;
        left: 0;
        z-index: 1;

        // box model
        width: 100%;
        height: 90%;
        border: 1px solid $gold;
        border-radius: 5px;

        // visual
        transition: all 0.3s ease-out;
        opacity: 0;
    }
}

.service-options__image {
    // positioning
    position: relative;
    z-index: 2;

    // box model
    padding: 0 20px;
    padding-bottom: 10px;
    width: 100%;
}

.service-options__name {
    // typography
    color: $white;
    font-size: 0.75rem;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;

    // visual
    transition: all 0.3s ease-out;
}