.slider {
    // positioning
    position: relative;

    // box model
    margin-bottom: 80px;

    &__slide {
        // positioning
        position: absolute;

        // visual
        visibility: hidden;
        // opacity: 0;
        perspective: 800px;
        transition: all 0.3s ease-in-out;
        transition-delay: 0s;
        transform-style: preserve-3d;
        transform: rotateY(90deg);
        
        &--current {
            // box model
            display: block;
            
            // visual
            visibility: visible;
            opacity: 1;
            transform: rotateY(0deg);
            transition-delay: 0.3s;
        }
    }

    &__prev {
        // positioning
        position: absolute;
        bottom: -55px;
        left: 65px;

        // box model
        height: 30px;
        width: 15px;
        
        // visual
        background-image: url("./img/slider/prev.svg");
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        opacity: 0.5;
        transition: all 0.3s ease-out;
        
        @include atTabletsPortrait {
            // positioning
            top: 50%;
            left: -65px;
            transform: translateY(-50%);
            
            // box model
            height: 60px;
            width: 30px;

            &:hover {
                // visual
                opacity: 0.9;
            }
            
            &:active {
                // positioning
                transform: translate(-5px, -50%);
            }
        }

        @include atDesktop {
            // positioning
            left: -75px;

            // box model
            height: 80px;
            width: 40px;
        }
    }

    &__next {
        // positioning
        position: absolute;
        bottom: -55px;
        right: 65px;

        // box model
        width: 15px;
        height: 30px;
        
        // visual
        background-image: url("./img/slider/next.svg");
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        opacity: 0.5;
        transition: all 0.3s ease-out;
        
        @include atTabletsPortrait {
            // positioning
            top: 50%;
            right: -65px;
            transform: translateY(-50%);
            
            // box model
            height: 60px;
            width: 30px;
            
            &:hover {
                // visual
                opacity: 0.9;
            }
            
            &:active {
                // positioning
                transform: translate(3px, -50%);
            }
        }

        @include atDesktop {
            // positioning
            right: -75px;

            // box model
            height: 80px;
            width: 40px;
        }
    }

    &__navigation {
        // positioning
        position: absolute;
        bottom: -60px;
        left: 50%;
        transform: translateX(-50%);

        // box model
        width: 160px;
        height: 30px;

        text-align: center;

        @include atDesktop {
            // positioning
            bottom: -70px;

            // box model
            width: 200px;
        }
    }

    &__dot {
        // positioning
        transform: rotate(45deg);

        // box model
        display: inline-block;
        height: 8px;
        width: 8px;
        margin: 0 10px;

        // visual
        background-color: $white;
        cursor: pointer;
        opacity: 0.5;
        transition: all 0.3s ease-out;

        @include atDesktop {
            // box model
            height: 12px;
            width: 12px;
            margin: 0 13px;
        }

        &:hover {
            // positioning
            transform: rotate(135deg);
            
            // visual
            opacity: 0.9;
        }
        
        &--active {
            // positioning
            transform: rotate(135deg);

            // visual
            opacity: 1;
            
            &:hover {
                // positioning
                transform: rotate(135deg);

                // visual
                opacity: 1;
            }
        }
    }
}