.slider {
    // positioning
    position: relative;

    // box model
    margin-bottom: 80px;

    @include atTabletsPortrait {
        // box model
        // margin-left: -40px;
    }

    @include atDesktop {
        // box model
        margin: 0 auto;
        margin-right: 40px;
        margin-top: -15px;
        width: 400px;
    }

    @include atDesktopLarge {
        // box model
        width: 600px;
    }

    &__slide {
        // positioning
        position: absolute;
        left: 0;
        right: 0;

        // visual
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        transform: translateX(-110%);

        @include atDesktop {
            // visual
            transform: translateX(130%);
        }

        &--current {
            // box model
            display: block;
            
            // visual
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
            transition-delay: 0.3s;
        }
    }

    &__prev {
        // positioning
        position: absolute;
        bottom: -65px;
        left: 65px;
        z-index: 3;

        // box model
        height: 40px;
        width: 25px;
        
        // visual
        background-image: url("./img/slider/prev.svg");
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        opacity: 0.5;
        transition: all 0.3s ease-out;
        
        @include atTabletsPortrait {
            // positioning
            top: 50%;
            left: -47px;
            transform: translateY(-50%);
            
            // box model
            height: 60px;
            width: 30px;

            &:hover {
                // visual
                opacity: 0.9;
            }
            
            &:active {
                // positioning
                transform: translate(-5px, -50%);
            }
        }

        @include atDesktop {
            // positioning
            left: -73px;

            // box model
            height: 80px;
            width: 40px;
        }
    }

    &__next {
        // positioning
        position: absolute;
        bottom: -65px;
        right: 65px;
        z-index: 3;

        // box model
        height: 40px;
        width: 20px;
        
        // visual
        background-image: url("./img/slider/next.svg");
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        opacity: 0.5;
        transition: all 0.3s ease-out;
        
        @include atTabletsPortrait {
            // positioning
            top: 50%;
            right: -47px;
            transform: translateY(-50%);
            
            // box model
            height: 60px;
            width: 30px;
            
            &:hover {
                // visual
                opacity: 0.9;
            }
            
            &:active {
                // positioning
                transform: translate(3px, -50%);
            }
        }

        @include atDesktop {
            // positioning
            right: -73px;

            // box model
            height: 80px;
            width: 40px;
        }
    }

    &__navigation {
        // positioning
        position: absolute;
        bottom: -70px;
        left: 50%;
        transform: translateX(-50%);

        // box model
        width: 160px;
        height: 30px;

        // typography
        font-size: 0;
        text-align: center;

        @include atTabletsPortrait {
            // positioning
            bottom: -85px;
            // left: calc(50% + 100px);
        }

        @include atTabletsLandscape {
            // positioning
            bottom: -70px;
        }

        @include atDesktop {
            // positioning
            bottom: -70px;

            // box model
            width: 200px;
        }
    }

    &__dot {
        // positioning
        transform: rotate(45deg);

        // box model
        display: inline-block;
        height: 10px;
        width: 10px;
        margin: 0 12px;

        // visual
        background-color: $white;
        cursor: pointer;
        opacity: 0.5;
        transition: all 0.3s ease-out;

        @include atTabletsPortrait {
            // box model
            height: 12px;
            width: 12px;
            margin: 0 13px;
        }

        @include atDesktop {
            // box model
            height: 14px;
            width: 14px;
            margin: 0 14px;
        }

        &:hover {
            // positioning
            // transform: rotate(135deg);
            transform: rotate(90deg);
            
            // visual
            opacity: 0.9;
        }
        
        &--active {
            // positioning
            transform: rotate(135deg);

            // visual
            opacity: 1;
            
            &:hover {
                // positioning
                transform: rotate(135deg);

                // visual
                opacity: 1;
            }
        }
    }
}