.slider {
    // positioning
    position: relative;

    // box model
    margin-bottom: 80px;

    @include atTablet {
        // box model
        margin: 0 auto;
        margin-top: -15px;
    }

    @include atDesktopL {
        // box model
        width: 500px;
    }
}

.slider__slide {
    // positioning
    position: absolute;
    left: 0;
    right: 0;

    // visual
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    transform: translateX(-110%);

    @include atDesktopS {
        // positioning
        transform: translateX(130%);
    }

    &--current {
        // box model
        display: block;
        
        // visual
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
        transition-delay: 0.3s;
    }
}

.slider__prev {
    // positioning
    position: absolute;
    bottom: -65px;
    left: 65px;
    z-index: 3;

    // box model
    height: 40px;
    width: 25px;
    
    // visual
    background-image: url("./img/slider/prev.svg");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s ease-out;
    
    @include atTablet {
        // positioning
        top: 50%;
        left: -47px;
        transform: translateY(-50%);
        
        // box model
        height: 60px;
        width: 30px;

        &:hover {
            // visual
            opacity: 0.9;
        }
        
        &:active {
            // positioning
            transform: translate(-5px, -50%);
        }
    }

    @include atDesktopM {
        // positioning
        left: -55px;

        // box model
        height: 80px;
        width: 40px;
    }
}

.slider__next {
    // positioning
    position: absolute;
    bottom: -65px;
    right: 65px;
    z-index: 3;

    // box model
    height: 40px;
    width: 20px;
    
    // visual
    background-image: url("./img/slider/next.svg");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s ease-out;
    
    @include atTablet {
        // positioning
        top: 50%;
        right: -47px;
        transform: translateY(-50%);
        
        // box model
        height: 60px;
        width: 30px;
        
        &:hover {
            // visual
            opacity: 0.9;
        }
        
        &:active {
            // positioning
            transform: translate(3px, -50%);
        }
    }

    @include atDesktopM {
        // positioning
        right: -55px;

        // box model
        height: 80px;
        width: 40px;
    }
}

.slider__navigation {
    // positioning
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);

    // box model
    width: 160px;
    height: 30px;

    // typography
    font-size: 0;
    text-align: center;

    @include atTablet {
        // positioning
        bottom: -60px;
    }

    @include atDesktopS {
        // positioning
        bottom: -70px;
    }

    @include atDesktopM {
        // positioning
        bottom: -70px;

        // box model
        width: 200px;
    }
}

.slider__dot {
    // positioning
    transform: rotate(45deg);

    // box model
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 0 12px;

    // visual
    background-color: $white;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s ease-out;

    @include atTablet {
        // box model
        height: 12px;
        width: 12px;
        margin: 0 13px;
    }

    @include atDesktopM {
        // box model
        height: 14px;
        width: 14px;
        margin: 0 14px;
    }

    &:hover {
        // positioning
        // transform: rotate(135deg);
        transform: rotate(90deg);
        
        // visual
        opacity: 0.9;
    }
    
    &--active {
        // positioning
        transform: rotate(135deg);

        // visual
        opacity: 1;
        
        &:hover {
            // positioning
            transform: rotate(135deg);

            // visual
            opacity: 1;
        }
    }
}