.team {
    // positioning
    position: relative;

    // visual
    background-color: $white;
    
    &::before {
        content: "";

        // positioning
        position: absolute;
        left: 0;
        top: -1px;
        z-index: 6;

        // box model
        height: 32px;
        width: 100%;

        // visual
        background-image: url("./img/deco-b-r.svg");
        background-size: 80px;
        background-repeat: repeat-x;
        background-position: top center;
    }
}

.team__header {
    // box model
    padding: 65px 25px;
    padding-bottom: 35px;
    max-width: 800px;

    // typography
    font-size: 0;

    @include atTablet {
        padding: 65px 60px;
        padding-bottom: 0;
    }

    @include atDesktopM {
        // box model
        padding-bottom: 65px;
    }
}

.team__content {
    // box model
    padding: 25px;

    // typography
    font-size: 0;

    @include atTablet {
        // box model
        padding: 60px;
    }
}