.testimonials {
    // positioning
    position: relative;

    // box model
    padding: 25px;
    
    // visual
    background-color: #435263;
    background-image: url("./img/testimonials-bg.jpg");
    background-size: cover;
    background-position: bottom center;

    &::before {
        content: "";

        // positioning
        position: absolute;
        left: 0;
        top: -1px;
        z-index: 6;

        // box model
        height: 32px;
        width: 100%;

        // visual
        background-image: url("./img/deco-b-r.svg");
        background-size: 80px;
        background-repeat: repeat-x;
        background-position: top center;
    }

    &::after {
        content: "";

        // positioning
        position: absolute;
        bottom: -1px;
        left: 0;
        z-index: 2;

        // box model
        height: 32px;
        width: 100%;

        // visual
        background-image: url("./img/deco-b.svg");
        background-size: 80px;
        background-repeat: repeat-x;
        background-position: -40px bottom;
    }

    &__header {
        // box model
        padding: 45px 0;
        padding-bottom: 100px;

        // typography
        font-size: 0;
    }

    &__title {
        // box model
        margin: 0;
        margin-bottom: 20px;
        
        // typography
        color: $white;
        font-family: $titleFont;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 1.125;
        text-align: right;
        text-transform: uppercase;

        @include atTabletsPortrait {
            // box model
            margin: 35px;
            margin-bottom: 20px;

            // typography
            font-size: 2.5rem;
            line-height: 1.25;
        }
    }

    &__subtitle {
        // box model
        margin: 0;
        padding-left: 40%;

        // typography
        color: $white;
        font-size: 1rem;
        font-variant: small-caps;
        text-align: right;

        @include atTabletsPortrait {
            // box model
            margin-right: 35px;

            // typography
            font-size: 1.25rem;
        }
    }

    &__content {
        // typography
        // font-size: 0.875rem;

        // visual
    }
}