.testimonials {
    // positioning
    position: relative;
    
    // visual
    background-image: url("./img/testimonials-bg.jpg");
    background-size: cover;
    background-position: bottom center;

    &::before {
        content: "";

        // positioning
        position: absolute;
        left: 0;
        top: 0;
        z-index: 6;

        // box model
        height: 32px;
        width: 100%;

        // visual
        background-image: url("./img/deco-b-r.svg");
        background-size: 80px;
        background-repeat: repeat-x;
        background-position: top center;
    }

    &__header {
        // box model
        padding: 65px 25px;
        padding-bottom: 100px;
    }

    &__title {
        // typography
        color: $white;
        font-family: $titleFont;
        font-size: 1.5rem;
        font-size: 7vw;
        font-variant: small-caps;
        font-weight: 400;
        letter-spacing: 1px;
        text-align: center;
    }

    &__content {
        // box model

        // typography
        font-size: 0.875rem;

        // visual
        background-color: $white;
    }
}